<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon class="add-margin">candlestick_chart</mat-icon>
            <span>Market Charts</span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <market-charts />
</mat-expansion-panel>

<mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon class="add-margin">candlestick_chart</mat-icon>
            <span>Portfolio Charts</span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <portfolio-charts />
</mat-expansion-panel>