::ng-deep .mat-mdc-tab-links {
    align-items: center;
}

nav {
    margin-top: 1rem;
}

.refresh-button {
    margin-right: 1.5rem;
}

.progress-bar-container {
    margin: 1.5rem;
    border: 1px solid navy;
    border-left: 0.5rem solid navy;
    border-radius: 0.5rem;
    max-width: 99vw;
}

.progress-bar-message {
    margin: 1rem;
}

mat-progress-bar {
    margin: 1rem;
    max-width: 90vw;
}