.main-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.header-title {
  font-size: 2rem;
  text-wrap: nowrap;
  padding: 1rem 1rem 0 1rem;
  width: min-content;

  .mat-mdc-button {
    font-size: 2rem;
  }
}

.version {
  font-size: 1.5rem;
  color: steelblue;
}

.progress-bar-container {
  margin: 1.5rem;
  border: 1px solid steelblue;
  border-left: 0.3rem solid steelblue;
  border-radius: 0.5rem;
  max-width: 100%;
}

.progress-bar-message {
  margin: 1rem;
}

mat-progress-bar {
  margin: 1rem;
  max-width: 97%;
}
