<tv-tickers-widget [tape]="true" />

<div class="main-title-container">
  <div class="header-title">
    <button mat-button (click)="switchAppName()">
      {{ appName }}
    </button>
    <span class="version">v2</span>
  </div>
</div>

@if (showProgressBar) {
  <div class="progress-bar-container">
    <h1 class="progress-bar-message">Loading data...</h1>
    <mat-progress-bar color="warn" mode="query" />
  </div>
}

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  @for (link of navLinks; track $index) {
    <a
      mat-tab-link
      (click)="activeLink = link"
      [active]="activeLink == link"
      [routerLink]="link.route"
    >
      {{ link.label }}
    </a>
  }
  <button
    mat-button
    color="primary"
    class="refresh-button"
    (click)="clearData()"
  >
    <mat-icon>cloud_sync</mat-icon>
    <span>Clear Cache</span>
  </button>
</nav>

<mat-divider />

<mat-tab-nav-panel #tabPanel />
