<ng-template #titleContentRef>
    <div class="add-flex">
        <mat-chip-listbox>
            <mat-chip-option selected (click)="displayChart(1)">Price Changes</mat-chip-option>
            <mat-chip-option (click)="displayChart(2)">Beta</mat-chip-option>
            <mat-chip-option (click)="displayChart(3)">VIX</mat-chip-option>
        </mat-chip-listbox>
    </div>
</ng-template>

<ng-template #subContentRef>    
    @if (marketState !== 'CLOSED') {
        <div class="subcontent-wrapper">
            @if (!prefix.startsWith('pre')) {
                <div class="add-flex">
                    <span>Regular Market </span>
                    <mat-icon>schedule</mat-icon>
                    <span [ngStyle]="{ color: getDayPriceChangeColor() }">
                        {{ priceChange | currency }}
                    </span>
                    <span [ngStyle]="{ color: getDayPriceChangeColor() }">
                        ({{ priceChange / portfolioMarketValue | percent: '.4' }})
                    </span>
                </div>
            }
            @if (!prefix.startsWith('regular')) {
                <div class="add-flex">
                    <span>{{ prePostHourText }}</span>
                    <mat-icon>{{ prePostHourIcon }}</mat-icon>
                    <span [ngStyle]="{ color: getPrePostPriceChangeColor() }">
                        {{ prePostPriceChange | currency }}
                    </span>
                    <span [ngStyle]="{ color: getPrePostPriceChangeColor() }">
                        ({{ prePostPriceChange / portfolioMarketValue | percent: '.4' }})
                    </span>
                </div>
            }
            @if (prefix.startsWith('pre')) {
                <mat-slide-toggle (toggleChange)="changeChart()">
                    <span>{{ chartConfigs.preMarket.toggleText }}</span>
                </mat-slide-toggle>
            }
            @if (prefix.startsWith('post')) {
                <mat-slide-toggle (toggleChange)="changeChart()">
                    <span>{{ chartConfigs.postMarket.toggleText }}</span>
                </mat-slide-toggle>
            }
        </div>
    }
</ng-template>

<ng-template #ValueChangeRef>
    @if (selectedChart === 1) {
        <div class="add-flex">
            <div class="chart-container">
                <ngx-charts-bar-vertical
                    [results]="priceChangeChartData"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [rotateXAxisTicks]="true"
                    [animations]="true"
                    [showDataLabel]="true"
                    [xAxisLabel]="'Price Change %'"
                    [customColors]="getPriceChangeChartColor"
                    [roundEdges]="false"
                >
                    <ng-template #tooltipTemplate let-model="model">
                        <tv-mini-chart-widget [symbol]="model.name" [theme]="'dark'"/>
                        <mat-divider style="margin: none; border-top-color: slategrey"/>
                        <span>{{ chartConfigs[prefix].text }} : {{ model.name }} </span>
                        <span>{{ model.value.toFixed(2) }}%</span>
                    </ng-template>
                </ngx-charts-bar-vertical>
            </div>
            <div class="chart-container">
                <ngx-charts-bar-vertical-stacked
                    [scheme]="priceRangeColorScheme"
                    [results]="priceRangeChartData"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [rotateXAxisTicks]="true"
                    [animations]="true"
                    [xAxisLabel]="'Market Day Price Range $'"
                />
            </div>
        </div>
    }
    @if (selectedChart === 2) {
        <div class="add-flex">
            <div class="chart-container">
                <ngx-charts-bar-vertical
                    [scheme]="betaColorScheme"
                    [schemeType]="scaleType.Linear"
                    [results]="betaChartData"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [rotateXAxisTicks]="true"
                    [animations]="true"
                    [xAxisLabel]="'Beta'"
                    [roundEdges]="false"
                />
            </div>
        </div>
    }
    @if (selectedChart === 3) {
        <tv-symbol-overview-widget 
            [company]="'VIX Volatility'" 
            [symbol]="'VANTAGE:VIX'"
            [timeFrame]="'1m'"
        />
    }
    <mat-expansion-panel [expanded]="expandWidget">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>price_change</mat-icon>
                <span>Quotes</span>
            </mat-panel-title>
            </mat-expansion-panel-header>
        <tv-market-quotes-widget [stockNames]="stockNames" [height]="410" />
    </mat-expansion-panel>
</ng-template>

<ng-template #quotesFooterRef>
    <div class="tradingview-widget-copyright">
        <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
            <span class="blue-text">Track all markets on TradingView</span>
        </a>
    </div>
</ng-template>

<container-card 
    title="Portfolio Quotes"
    [titleContentRef]="titleContentRef"
    [subContentRef]="subContentRef"
    [mainContentRef]="ValueChangeRef"
    [footerContentRef]="(!!expandWidget || selectedChart === 3) ? quotesFooterRef : undefined"
/>
