.subcontent-wrapper {
    display: flex;
    align-content: center !important;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.25rem;

    .add-flex {
        margin-right: 1rem;
    }
}

::ng-deep .mat-expansion-panel {
    border-radius: 0 !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}
