<div class="container" (click)="openDialog()">
  <img [src]="getLogo(stock)" alt="Logo" class="ticker-logo" width="auto" height="35"/>
  <div class="symbol-container">
    <div class="stock-symbol">
      <span><b>{{ stock?.symbol }}</b></span>
      <span class="stock-price">{{ price | currency }}</span>
      <span class="price-change" [ngStyle]="{ color: getColor()}">
        {{ stock.regularMarketChangePercent | percent: '.3' }}
      </span>
    </div>
    <span class="long-name">{{ stock?.longName }}</span>
  </div>
</div>
