.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.etf-chart {
    display: flex;
    justify-content: center;
}

::ng-deep ul.legend-labels {
    width: max-content !important;
    background: none !important;
}