.slider {
  width: 100%;
  color: slategrey;
  margin: 0;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

::ng-deep .mat-mdc-slider 
.mdc-slider__tick-marks 
.mdc-slider__tick-mark--active {
  background-color: chocolate;
  height: 1rem;
}

::ng-deep .mat-mdc-slider 
.mdc-slider__tick-marks 
.mdc-slider__tick-mark--inactive {
 background-color: slategrey;
  height: 1rem;
}