.add-holding-controls {
    display: flex;
    align-items: center;
}

.holding-list-header {
    display: flex;
    justify-content: space-between;
}

.radio {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.save-button {
    margin-left: 1rem;
}

mat-divider {
    margin-top: 1rem;
}

.delete-button {
    margin-left: 0.5rem;
    color: chocolate;
}

.update-portfolio-button {
    float: right;
    margin-top: 0.5rem;
}

.control {
    margin-right: 0.5rem;
}

.shares,
.symbol {
    color: steelblue;
}

.cost-average {
    color: teal;
}