<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="add-margin">candlestick_chart</mat-icon>
      <span>Advance Chart</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <tv-advanced-chart-widget [symbol]="'SPY'" />
</mat-expansion-panel>

<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="add-margin">auto_graph</mat-icon>
      <span>Tool B</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>

<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="add-margin">auto_graph</mat-icon>
      <span>Tool C</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>