<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="">candlestick_chart</mat-icon>
      <span>Advanced Chart</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <tv-advanced-chart-widget symbol="SCHD" [showWatchlist]="true" [watchlist]="symbols" />
</mat-expansion-panel>

<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="">analytics</mat-icon>
      <span>Heatmap</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <tv-heatmap-widget />
</mat-expansion-panel>
