<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="">candlestick_chart</mat-icon>
      <span>Advanced Chart</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <tv-advanced-chart-widget symbol="SCHD" [showWatchlist]="true" [watchlist]="symbols" />
</mat-expansion-panel>

<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="">analytics</mat-icon>
      <span>Heatmap</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <tv-heatmap-widget />
</mat-expansion-panel>

<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="">candlestick_chart</mat-icon>
      <span>Portfolio Charts</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="wallmine-chart-container">
    @for (symbol of symbols; track $index) {
      <wallmine-chart [symbol]="symbol" class="wallmine-chart" />
    }
  </div>
</mat-expansion-panel>

<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="">widgets</mat-icon>
      <span>Portfolio Widgets</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="wallmine-chart-container">
    @for (symbol of symbols; track $index) {
      <tv-single-quote-widget [symbol]="symbol" />
    }
  </div>
</mat-expansion-panel>
