.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.position {
  display: flex;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.links {
  margin-top: 10px;
}

.rec-trends {
  width: 35%;
}

.divider {
  margin-top: 1rem;
}