<div class="position">
  <info-card
    [value]="position.costAverage"
    valueType="currency"
    subtitle="Cost Average"
  />
  <info-card
    [value]="position.shares"
    subtitle="Shares Owned"
  />
  <info-card
    [value]="position.totalCost"
    valueType="currency"
    subtitle="Total Invested"
  />
  <info-card
    [value]="position.marketValue"
    valueType="currency"
    subtitle="Market value"
  />
  <info-card
    [value]="position.portfolioPercent"
    valueType="percentage"
    subtitle="Portfolio %"
  />
  <info-card
    [value]="position.unrealizedGain"
    valueType="currency"
    subtitle="Unrealized Gain "
    [color]="position.unrealizedGain > 0 ? 'teal' : 'chocolate'"
  />
  <info-card
    [value]="position.unrealizedGainPercent"
    valueType="percentage"
    subtitle="Unrealized Gain %"
    [color]="position.unrealizedGain > 0 ? 'teal' : 'chocolate'"
  />
  @if (position.dividendIncome) {
    <info-card
      [value]="position.dividendIncome"
      valueType="currency"
      subtitle="Dividend Income"
    />
  }
  @if (position.yieldOnCost) {
    <info-card
      [value]="position.yieldOnCost"
      valueType="percentage"
      subtitle="Yield On Cost"
    />
  }
</div>

<ng-template #linkButtonsRef>
  <div class="heading">
    <mat-button-toggle-group class="links">
      @if (stock.quoteType === 'EQUITY') {
        <mat-button-toggle value="">
          <mat-icon>public</mat-icon>
          <a href="{{ stock.profile.website }}" target="_blank">{{ stock.profile.website }}</a>
        </mat-button-toggle>
      }
      @for (link of externalLinks; track $index) {
        <mat-button-toggle value="">
          <mat-icon>public</mat-icon>
          <a href="{{ link.url }}" target="_blank"> {{ link.label }}</a>
        </mat-button-toggle>
      }
      @if (stock.quoteType === 'ETF') {
        @for (link of etfLinks; track $index) {
          <mat-button-toggle value="">
            <mat-icon>public</mat-icon>
            <a href="{{ link.url }}" target="_blank"> {{ link.label }}</a>
          </mat-button-toggle>
        }
      }
    </mat-button-toggle-group>
  </div>
</ng-template>

<ng-template #infoSheetRef>
  @if (stock) {
    @if (selectedChart === 1) {
      <tv-symbol-overview-widget 
        [company]="stock.shortName"
        [symbol]="stock.symbol"
      />
    } @else {
      <tv-advanced-chart-widget [symbol]="stock.symbol" />
    }

    <mat-divider class="divider"/>

    <stock-price-insight [symbol]="stock.symbol" />

    <mat-divider class="divider"/>

    <tv-financials-widget
      [symbol]="stock.symbol"
      height="484"
      displayMode="compact"
    />
  }

  <mat-divider class="divider"/>

  @if (stock.quoteType === 'EQUITY') {
    <div class="analysis">
      <stock-earnings-chart [stock]="stock" />
      <stock-recommendation-trends [symbol]="stock.symbol"/>
    </div>
  }
</ng-template>

<ng-template #chartToggleRef>
  <mat-chip-listbox>
    <mat-chip-option selected (click)="selectChart(1)">Simple Chart</mat-chip-option>
    <mat-chip-option (click)="selectChart(2)">Advanced Chart</mat-chip-option>
  </mat-chip-listbox>
</ng-template>

<ng-template #footerRef>
  <div class="tradingview-widget-copyright">
    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
        <span class="blue-text">Track all markets on TradingView</span>
    </a>
  </div>
</ng-template>

<container-card
  [title]="'Details'"
  [titleContentRef]="chartToggleRef"
  [mainContentRef]="infoSheetRef"
  [subtitleContentRef]="linkButtonsRef"
  [footerContentRef]="footerRef"
/>