.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.position {
  display: flex;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.links {
  margin-top: 10px;
}

.analysis {
  display: flex;
  justify-content: space-evenly;
}

.divider {
  margin-top: 1rem;
}