.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
}

.symbol-container {
  padding-left: 1rem;
  align-items: center;
}

.stock-logo {
  border-radius: 50%;
  border: 1px solid slategrey;
}

.stock-symbol {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.stock-price,
.price-change {
  margin-left: 0.5rem;
}

.stock-price {
  color: teal;
}

.stock-name {
  float: left;
  color: slategrey;
}