<mat-card 
  class="container"
  (click)="openInfoSheet()"
  [ngStyle]="{'border-left': borderLeftStyle}"
>
  <img 
    [src]="helperService.getTickerLogo(stock.symbol)" 
    alt="Logo" 
    width="auto" 
    height="35" 
    class="stock-logo" 
  />
  <div class="symbol-container">
    <mat-card-title class="stock-symbol">
      <span><b>{{ stock?.symbol }}</b></span>
      <span class="stock-price" [ngStyle]="{'color': helperService.getStockPriceColor(stock.symbol)}">{{ currentPrice | currency }}</span>
      <mat-card-subtitle [ngStyle]="{'color': helperService.getStockPriceColor(stock.symbol)}">
        ({{ changePercent | percent: '.2' }})
      </mat-card-subtitle>
    </mat-card-title>
    <mat-card-subtitle class="stock-name">{{ stock?.shortName }}</mat-card-subtitle>
  </div>
  <div class="expand-section">
    <mat-card-subtitle>P/L:</mat-card-subtitle>
    <mat-card-subtitle [ngStyle]="{'color': stock.unrealizedGain > 0 ? 'teal' : 'chocolate'}">
      {{ stock.unrealizedGain | currency }}
    </mat-card-subtitle>
    <mat-card-subtitle [ngStyle]="{'color': stock.unrealizedGain > 0 ? 'teal' : 'chocolate'}">
      {{ stock.unrealizedGainPercent | percent: '.2' }}
    </mat-card-subtitle>
  </div>
</mat-card>
