.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  background-color: ghostwhite;
  align-items: start;
}

a {
  text-decoration: none;
  color: steelblue;
}

.quote {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  background-color: ghostwhite;
}