.return-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 1rem;
    font-size: 1.25rem;

    .add-flex {
        margin-right: 1rem;
    }
}

mat-icon {
    margin-left: 0.25rem;
}