.ticker-chip {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: ghostwhite !important;
    padding: 0.25rem;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}