<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Chart">
        <wallmine-chart [symbol]="stock.symbol" />
    </mat-tab>

    <mat-tab label="Analysis & Recommedations">
        <div class="widget-container">
            <tv-technical-analysis-widget [symbol]="stock.symbol" />
            @if (stock.quoteType === 'EQUITY') {
                <div class="rec-trends">
                    <stock-recommendation-trends [symbol]="stock.symbol" />
                </div>
            }
        </div> 
    </mat-tab>

    <mat-tab label="Financials">
        <tv-financials-widget [symbol]="stock.symbol" width="100%" />
    </mat-tab>

    <mat-tab label="Profile">
        <tv-symbol-info-widget [symbol]="stock.symbol" />
        <tv-profile-widget [symbol]="stock.symbol" width="100%" />
    </mat-tab>
</mat-tab-group>