<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Chart">
        <tv-symbol-overview-widget [company]="stock.shortName" [symbol]="stock.symbol" />
    </mat-tab>

    <mat-tab label="Analysis & Recommedations">
        <div class="widget-container">
            <tv-technical-analysis-widget [symbol]="stock.symbol" />
            @if (stock.quoteType === 'EQUITY') {
                <div class="rec-trends">
                    <stock-recommendation-trends [symbol]="stock.symbol" [height]="400"/>
                </div>
            }
        </div> 
    </mat-tab>

    <mat-tab label="Financials">
        <tv-financials-widget [symbol]="stock.symbol" width="100%" />
    </mat-tab>

    <mat-tab label="Profile">
        <tv-symbol-info-widget [symbol]="stock.symbol" />
        <tv-profile-widget [symbol]="stock.symbol" width="100%" />
    </mat-tab>
</mat-tab-group>
<div class="tradingview-widget-copyright">
    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
        <span class="blue-text">Track all markets on TradingView</span>
    </a>
</div>