.summary-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
}

.goal-container {
  margin-top: 50px;
  margin-left: 20px;
}

mat-slider {
  width: 99%;
  height: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 20px;
}

.goal {
  color: forestgreen;
  padding-left: 10px;
}

.labels {
  display: flex;
  justify-content: space-between;
  width: 99%;
  margin-bottom: 20px;
}

.reset-button {
  float: right;
  margin: 10px;
}

button>mat-icon {
  padding-right: 0;
}

::ng-deep mat-slider-visual-thumb.mdc-slider__thumb {
  height: 0px !important;
}