<section *ngIf="portfolioHoldings" class="summary-cards">
  <info-card
    icon="numbers"
    [value]="portfolioHoldings.portfolioPositions"
    subtitle="Total Positions"
  />
  <info-card
    icon="payments"
    [value]="portfolioHoldings.portfolioTotalInvestment"
    valueType="currency"
    subtitle="Total Investment"
  />
  <info-card
    icon="payments"
    [value]="portfolioHoldings.portfolioMarketValue"
    valueType="currency"
    subtitle="Market Value"
  />
  <info-card
    icon="payments"
    [value]="portfolioHoldings.portfolioUnrealizedGain"
    subtitle="Unrealized Gain"
    valueType="currency"
    [color]="portfolioHoldings.portfolioUnrealizedGain > 0 ? 'seagreen' : 'orangered'"
    [accentColor]="portfolioHoldings.portfolioUnrealizedGain > 0 ? 'seagreen' : 'orangered'"
  />
  <info-card
    icon="percentage"
    [value]="portfolioHoldings.portfolioUnrealizedGainPercent"
    valueType="percentage"
    subtitle="Unrealized Gain %"
    [color]="portfolioHoldings.portfolioUnrealizedGainPercent > 0 ? 'seagreen' : 'orangered'"
    [accentColor]="portfolioHoldings.portfolioUnrealizedGain > 0 ? 'seagreen' : 'orangered'"
  />
  <info-card
    icon="payments"
    [value]="portfolioHoldings.portfolioDividendIncome"
    valueType="currency"
    subtitle="Projected Annual Income"
  />
  <info-card
    icon="percentage"
    [value]="portfolioHoldings.portfolioYield"
    valueType="percentage"
    subtitle="Portfolio Yield"
  />
  <info-card
    icon="percentage"
    [value]="portfolioHoldings.portfolioYieldOnCost"
    valueType="percentage"
    subtitle="Portfolio YOC"
    color="seagreen"
    accentColor="seagreen"
  />
</section>

<mat-divider />

<button 
  *ngIf="showResetButton" 
  mat-mini-fab 
  color="accent" 
  class="reset-button" 
  (click)="filterBySector({name: 'all'})"
>
  <mat-icon>restart_alt</mat-icon>
</button> 

<section class="add-border">
  <div class="title">
    <span>Portfolio Allocation</span>
  </div>

  <section class="charts-flex add-margin">
    <div class="chart-container">
      <ngx-charts-pie-grid
        [scheme]="'picnic'"
        [animations]="true"
        [results]="sectorsData"
        [label]="'Total $'"
        (select)="filterBySector($event)"
      />
    </div>
    <div class="chart-container">
      <ngx-charts-bar-vertical
        [scheme]="'picnic'"
        [animations]="true"
        [results]="portfolioPercentBarChartData"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Portfolio %'"
      />
    </div>
  </section>
</section>

<div *ngIf="portfolioHoldings" class="add-border">
  <section class="goal-container">
    <h1>
      <b>Portfolio Value Goal:</b>
      <span class="goal">{{ portfolioValueGoalPercentage | percent : ".2" }}</span>
    </h1>
  
    <mat-slider
      [min]="0"
      [max]="portfolioValueTarget"
      [step]="1000"
      [showTickMarks]="true"
      [color]="'primary'"
    >
      <input
        matSliderThumb
        [value]="portfolioHoldings.portfolioMarketValue"
        [matTooltip]="getTooltip('investment')"
        matTooltipPosition="above"
      />
    </mat-slider>
    <div class="labels">
      <h1>{{ "0" | currency }}</h1>
      <h1>{{ portfolioValueTarget | currency }}</h1>
    </div>
  </section>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="">payment</mat-icon>
        <span>Portfolio Value</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <section class="charts-flex">
      <div class="chart-container">
        <ngx-charts-bar-vertical-stacked
          [scheme]="'ocean'"
          [animations]="true"
          [results]="marketValueBarChartData"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Market Value $'"
          [yScaleMax]="marketValueYMax"
        />
      </div>
      <div class="chart-container">
        <ngx-charts-bar-vertical
          [scheme]="'air'"
          [animations]="true"
          [results]="unrealizedGainBarChartData"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Open P & L %'"
        />
      </div>
    </section>
  </mat-expansion-panel>
</div>

<div *ngIf="portfolioHoldings" class="add-border">
  <section class="goal-container">
    <h1>
      <b>Passive Income Goal:</b>
      <span class="goal">{{ passiveIncomeGoalPercentage | percent : ".2" }}</span>
    </h1>
  
    <mat-slider
      [min]="0"
      [max]="passiveIncomeTarget"
      [step]="120"
      [showTickMarks]="true"
      [color]="'primary'"
    >
      <input
        matSliderThumb
        [value]="portfolioHoldings.portfolioDividendIncome"
        [matTooltip]="getTooltip('passive')"
        matTooltipPosition="above"
      />
    </mat-slider>
    <div class="labels">
      <h1>{{ "0" | currency }}</h1>
      <h1>{{ passiveIncomeTarget | currency }}</h1>
    </div>
  </section>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="">local_fire_department</mat-icon>
        <span>Passive Income</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <section class="charts-flex">
      <div class="chart-container">
        <ngx-charts-bar-vertical
          [scheme]="'natural'"
          [animations]="true"
          [results]="dividendBarChartData"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Dividend Income $'"
          [yScaleMax]="dividendYMax"
        />
      </div>
      <div class="chart-container">
        <ngx-charts-bar-vertical
          [scheme]="'natural'"
          [animations]="true"
          [results]="yocBarChartData"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Yield On Cost %'"
          [yScaleMax]="yocYMax"
        />
      </div>
    </section>
  </mat-expansion-panel>
</div>
