<section class="summary-cards-container">
  <info-card
    [value]="portfolioHoldings?.positionsHeld"
    subtitle="Holdings"
  />
  <info-card
    [value]="portfolioHoldings?.totalAmountInvested"
    valueType="currency"
    subtitle="Total Investment"
  />
  <info-card
    [value]="portfolioHoldings?.marketValue"
    valueType="currency"
    subtitle="Market Value"
  />
  <info-card
    [value]="portfolioHoldings?.unrealizedGain"
    subtitle="Unrealized Gain"
    valueType="currency"
    [color]="portfolioHoldings?.unrealizedGain > 0 ? 'teal' : 'chocolate'"
  />
  <info-card
    [value]="portfolioHoldings?.unrealizedGainPercent"
    valueType="percentage"
    subtitle="Unrealized Gain Percent"
    [color]="portfolioHoldings?.unrealizedGainPercent > 0 ? 'teal' : 'chocolate'"
  />

  @if (portfolioHoldings.dividendIncome > 0) {
    <info-card
      [value]="portfolioHoldings?.dividendIncome"
      valueType="currency"
      subtitle="Projected Annual Income"
    />
    <info-card
      [value]="portfolioHoldings?.yield"
      valueType="percentage"
      subtitle="Portfolio Yield"
    />
    <info-card
      [value]="portfolioHoldings?.yieldOnCost"
      valueType="percentage"
      subtitle="Portfolio YOC"
      color="teal"
    />
  }
</section>

<ng-template #portfolioAllocationsTitleRef>
  <mat-chip-listbox>
      <mat-chip-option selected (click)="changeChartStyle('pie')">Doughnut Pie</mat-chip-option>
      <mat-chip-option (click)="changeChartStyle('grid')">Pie Grid</mat-chip-option>
  </mat-chip-listbox>
</ng-template>

<ng-template #portfolioAllocationsRef>
  <div class="add-flex">
    @if (pieChartStyle === 'pie') {
      <div class="chart-container">
        <ngx-charts-pie-chart
          [scheme]="'air'"
          [animations]="true"
          [results]="sectorsData"
          [doughnut]="true"
          [arcWidth]="0.5"
          [labels]="true"
          [title]="'Sector Allocations'"
          [maxLabelLength]="100"
        />
      </div>
    }
    @if (pieChartStyle === 'grid') {
      <div class="chart-container">
        <ngx-charts-pie-grid
          [scheme]="'air'"
          [animations]="true"
          [results]="sectorsData"
          [label]="'Dollars Invested'"
          [title]="'Sector Allocations'"
        />
      </div>
    }
    <div class="chart-container">
      <ngx-charts-bar-vertical
        [scheme]="allocationsBarChartColorScheme"
        [results]="portfolioPercentData"
        [animations]="true"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Holding Allocations'"
      />
    </div>
  </div>
</ng-template>

<container-card 
  title="Portfolio Allocations"
  [titleContentRef]="portfolioAllocationsTitleRef"
  [mainContentRef]="portfolioAllocationsRef"
/>

<ng-template #portfolioValueRef>
  <div class="goal-container">
    <mat-slider
      [min]="0"
      [max]="portfolioValueTarget"
      [step]="1000"
      [showTickMarks]="true"
      disabled
    >
      <input
        matSliderThumb
        [value]="portfolioHoldings?.marketValue"
        [matTooltip]="getTooltip('investment')"
        matTooltipPosition="above"
      />
    </mat-slider>
    <div class="goal-labels">
      <mat-chip>{{ "0" | currency }}</mat-chip>
      <mat-chip>{{ portfolioValueTarget | currency }}</mat-chip>
    </div>
  </div>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="">payment</mat-icon>
        <span>Portfolio Value Charts</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="add-flex">
      <div class="chart-container">
        <ngx-charts-bar-vertical-stacked
          [scheme]="stackedBarChartColorScheme"
          [results]="marketValueData"
          [animations]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Cost Basis & Unrealized Gain'"
        />
      </div>
      <div class="chart-container">
        <ngx-charts-bar-vertical
          [scheme]="valueBarChartColorScheme"
          [results]="unrealizedGainData"
          [animations]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Unrealized Gain Percent'"
        />
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>

@if (portfolioHoldings.dividendIncome > 0) {
  <container-card 
    title="Portfolio Value Goal"
    [mainContentRef]="portfolioValueRef"
  />
}

<ng-template #dividendIncomeRef>
  <div class="goal-container">
    <mat-slider
      [min]="0"
      [max]="passiveIncomeTarget"
      [step]="120"
      [showTickMarks]="true"
      disabled
    >
      <input
        matSliderThumb
        [value]="portfolioHoldings?.dividendIncome"
        [matTooltip]="getTooltip('passive')"
        matTooltipPosition="above"
      />
    </mat-slider>
    <div class="goal-labels">
      <mat-chip>{{ "0" | currency }}</mat-chip>
      <mat-chip>{{ passiveIncomeTarget | currency }}</mat-chip>
    </div>
  </div>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="">local_fire_department</mat-icon>
        <span>Dividends Income Charts</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="add-flex">
      <div class="chart-container">
        <ngx-charts-bar-vertical
          [scheme]="dividendBarChartColorScheme"
          [results]="dividendData"
          [animations]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Dividend Income'"
        />
      </div>
      <div class="chart-container">
        <ngx-charts-bar-vertical
          [scheme]="dividendBarChartColorScheme"
          [results]="yocData"
          [animations]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Yield On Cost Percent'"
        />
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>

@if (portfolioHoldings.dividendIncome > 0) {
  <container-card 
    title="Dividend Income Goal"
    [mainContentRef]="dividendIncomeRef"
  />
}
