<section class="summary-cards-container">
  <info-card
    icon="numbers"
    [value]="portfolioHoldings?.positionsHeld"
    subtitle="Total Positions"
  />
  <info-card
    icon="payments"
    [value]="portfolioHoldings?.totalAmountInvested"
    valueType="currency"
    subtitle="Total Investment"
  />
  <info-card
    icon="payments"
    [value]="portfolioHoldings?.marketValue"
    valueType="currency"
    subtitle="Market Value"
  />
  <info-card
    icon="payments"
    [value]="portfolioHoldings?.unrealizedGain"
    subtitle="Unrealized Gain"
    valueType="currency"
    [color]="portfolioHoldings?.unrealizedGain > 0 ? 'teal' : 'chocolate'"
    [accentColor]="portfolioHoldings?.unrealizedGain > 0 ? 'teal' : 'chocolate'"
  />
  <info-card
    icon="percentage"
    [value]="portfolioHoldings?.unrealizedGainPercent"
    valueType="percentage"
    subtitle="Unrealized Gain Percent"
    [color]="portfolioHoldings?.unrealizedGainPercent > 0 ? 'teal' : 'chocolate'"
    [accentColor]="portfolioHoldings?.unrealizedGain > 0 ? 'teal' : 'chocolate'"
  />
  <info-card
    icon="payments"
    [value]="portfolioHoldings?.dividendIncome"
    valueType="currency"
    subtitle="Projected Annual Income"
  />
  <info-card
    icon="percentage"
    [value]="portfolioHoldings?.yield"
    valueType="percentage"
    subtitle="Portfolio Yield"
  />
  <info-card
    icon="percentage"
    [value]="portfolioHoldings?.yieldOnCost"
    valueType="percentage"
    subtitle="Portfolio YOC"
    color="teal"
    accentColor="teal"
  />
</section>

<mat-divider />

<ng-template #portfolioAllocationsTitleRef>
  <mat-chip-listbox>
      <mat-chip-option selected (click)="changeChartStyle('pie')">Doughnut Pie</mat-chip-option>
      <mat-chip-option (click)="changeChartStyle('grid')">Pie Grid</mat-chip-option>
  </mat-chip-listbox>
</ng-template>

<ng-template #portfolioAllocationsRef>
  @if (showResetButton) {
    <button
      mat-mini-fab 
      color="warn" 
      class="reset-button" 
      (click)="filterBySector({name: 'all'})"
    >
      <mat-icon>restart_alt</mat-icon>
    </button> 
  }

  <div class="add-flex">
    @if (pieChartStyle === 'pie') {
      <div class="chart-container">
        <ngx-charts-pie-chart
          [scheme]="'picnic'"
          [animations]="true"
          [results]="sectorsData"
          [doughnut]="true"
          [arcWidth]="0.5"
          [labels]="true"
          [title]="'Sector Allocations'"
          [maxLabelLength]="100"
          (select)="filterBySector($event)"
        />
      </div>
    }
    @if (pieChartStyle === 'grid') {
      <div class="chart-container">
        <ngx-charts-pie-grid
          [scheme]="'picnic'"
          [animations]="true"
          [results]="sectorsData"
          [label]="'Dollars Invested'"
          [title]="'Sector Allocations'"
          (select)="filterBySector($event)"
        />
      </div>
    }
    <div class="chart-container">
      <ngx-charts-bar-vertical
        [scheme]="barChartColorScheme"
        [results]="portfolioPercentBarChartData"
        [animations]="true"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Holding Allocations'"
      />
    </div>
  </div>
</ng-template>

<container-card 
  title="Portfolio Allocations"
  [titleContentRef]="portfolioAllocationsTitleRef"
  [mainContentRef]="portfolioAllocationsRef"
/>

<ng-template #portfolioValueRef>
  <div class="goal-container">
    <mat-slider
      disabled
      [min]="0"
      [max]="portfolioValueTarget"
      [step]="1000"
      [showTickMarks]="true"      
      [color]="'accent'"
    >
      <input
        matSliderThumb
        [value]="portfolioHoldings?.marketValue"
        [matTooltip]="getTooltip('investment')"
        matTooltipPosition="above"
      />
    </mat-slider>
    <div class="goal-labels">
      <h1>{{ "0" | currency }}</h1>
      <h1>{{ portfolioValueTarget | currency }}</h1>
    </div>
  </div>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="">payment</mat-icon>
        <span>Portfolio</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="add-flex">
      <div class="chart-container">
        <ngx-charts-bar-vertical-stacked
          [scheme]="stackedBarChartColorScheme"
          [results]="marketValueBarChartData"
          [animations]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Cost Basis & Unrealized Gain'"
        />
      </div>
      <div class="chart-container">
        <ngx-charts-bar-vertical
          [scheme]="barChartColorScheme"
          [results]="unrealizedGainBarChartData"
          [animations]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Unrealized Gain Percent'"
        />
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>

<container-card 
  title="Portfolio Value Goal"
  [mainContentRef]="portfolioValueRef"
/>

<ng-template #dividendIncomeRef>
  <div class="goal-container">
    <mat-slider
      disabled
      [min]="0"
      [max]="passiveIncomeTarget"
      [step]="120"
      [showTickMarks]="true"
      [color]="'accent'"
    >
      <input
        matSliderThumb
        [value]="portfolioHoldings?.dividendIncome"
        [matTooltip]="getTooltip('passive')"
        matTooltipPosition="above"
      />
    </mat-slider>
    <div class="goal-labels">
      <h1>{{ "0" | currency }}</h1>
      <h1>{{ passiveIncomeTarget | currency }}</h1>
    </div>
  </div>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="">local_fire_department</mat-icon>
        <span>Dividends</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="add-flex">
      <div class="chart-container">
        <ngx-charts-bar-vertical
          [scheme]="barChartColorScheme"
          [results]="dividendBarChartData"
          [animations]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Dividend Income'"
        />
      </div>
      <div class="chart-container">
        <ngx-charts-bar-vertical
          [scheme]="barChartColorScheme"
          [results]="yocBarChartData"
          [animations]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Yield On Cost Percent'"
        />
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>

<container-card 
  title="Dividend Income Goal"
  [mainContentRef]="dividendIncomeRef"
/>
