.analysis-charts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.outlook-container {
    display: flex;
    margin: 1rem 0;
    border: 1px solid gainsboro;
    padding: 1rem;
}

.outlook {
    width: auto;
    margin-right: 2rem;

    div {
        display: flex;
        justify-content: space-between;
    }

    span:first-of-type {
        margin-right: 0.5rem;
        color: slategray;
    }
}

.sec-reports {
    .sec-report-link {
        margin-top: 0.5rem;

        a {
            text-decoration: none;
        }
    }
}

.subtitle {
    margin-top: 0.5rem;

    span {
        padding-right: 0.5rem;
    }
}

.sigDev-date {
    margin-right: 0.5rem;
}