@if (selectedTicker) {
  @let outlook = insights.instrumentInfo.technicalEvents;
  @let valuation = insights.instrumentInfo.valuation;
  @let recommendation = insights.recommendation;
  @let results = snapshotChartData;
  @let sigDevs = insights.sigDevs;
  @let secReports = insights.secReports;

  <ng-template #earningsChartRef>
    <div>
      <ticker-buttons [noEtf]="true" (selectedTicker)="changeTicker($event)"/>
    </div>

    <div class="analysis-charts">
      <div class="add-flex">
        <div class="chart-container">
          <ngx-charts-polar-chart
            [results]="results"
            [view]="[700, 400]"
            scheme="vivid"
            [legend]="true"
            [labelTrim]="false"
            [xAxis]="true"
            [yAxis]="true"
            [animations]="true"
            [showGridLines]="true"
            [maxYAxisTickLength]="200"
            [legendTitle]="''"
          >
          </ngx-charts-polar-chart>
        </div>
      </div>
      <div>
        <stock-earnings-chart [stock]="selectedTicker" />
        <stock-recommendation-trends [symbol]="selectedTicker.symbol" />
      </div>
    </div>

    <section class="outlook-container">
      <div class="outlook">
        <div>Ticker Outlook</div>
        <div>
          <span>Short Term:</span>
          <span [ngStyle]="{ color: getOutlookTextColor(outlook.shortTermOutlook.direction) }">
            {{ outlook.shortTermOutlook.stateDescription }}
          </span>
        </div>
        <div>
          <span>Intermediate Term:</span>
          <span [ngStyle]="{ color: getOutlookTextColor(outlook.intermediateTermOutlook.direction) }">
            {{ outlook.intermediateTermOutlook.stateDescription }}
          </span>
        </div>
        <div>
          <span>Long Term:</span>
          <span [ngStyle]="{ color: getOutlookTextColor(outlook.longTermOutlook.direction) }">
            {{ outlook.longTermOutlook.stateDescription }}
          </span>
        </div>
      </div>
      <div class="outlook">
        <div>Sector Outlook</div>
        <div>
          <span>Short Term:</span>
          <span [ngStyle]="{ color: getOutlookTextColor(outlook.shortTermOutlook.sectorDirection) }">
            {{ outlook.shortTermOutlook.sectorScoreDescription }}
          </span>
        </div>
        <div>
          <span>Intermediate Term:</span>
          <span [ngStyle]="{ color: getOutlookTextColor(outlook.intermediateTermOutlook.sectorDirection) }">
            {{ outlook.intermediateTermOutlook.sectorScoreDescription }}
          </span>
        </div>
        <div>
          <span>Long Term:</span>
          <span [ngStyle]="{ color: getOutlookTextColor(outlook.longTermOutlook.sectorDirection) }">
            {{ outlook.longTermOutlook.sectorScoreDescription }}
          </span>
        </div>
      </div>
      <div class="outlook">
        <div>Index Outlook</div>
        <div>
          <span>Short Term:</span>
          <span [ngStyle]="{ color: getOutlookTextColor(outlook.shortTermOutlook.indexDirection) }">
            {{ outlook.shortTermOutlook.indexScoreDescription }}
          </span>
        </div>
        <div>
          <span>Intermediate Term:</span>
          <span [ngStyle]="{ color: getOutlookTextColor(outlook.intermediateTermOutlook.indexDirection) }">
            {{ outlook.intermediateTermOutlook.indexScoreDescription }}
          </span>
        </div>
        <div>
          <span>Long Term:</span>
          <span [ngStyle]="{ color: getOutlookTextColor(outlook.longTermOutlook.indexDirection) }">
            {{ outlook.longTermOutlook.indexScoreDescription }}
          </span>
        </div>
      </div>
    </section>

    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>article</mat-icon>
              <span>SEC Reports</span>
          </mat-panel-title>
      </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent> 
            <section class="sec-reports">
              @for (report of secReports; track report.id) {
                @let reportLink = 'https://finance.yahoo.com/sec-filing/' + selectedTicker.symbol + '/' + report.id;
                <div class="sec-report-link">
                  <a [href]="reportLink" target="_blank">
                    <div>{{ report.filingDate | date: 'MM/dd/yyyy' }} {{ report.title }} {{ report.description }}</div>
                  </a>
                </div>
              }
            </section>
          </ng-template>
  </mat-expansion-panel>
  </ng-template>

  <ng-template #analysisSubRef>
    <div class="subtitle">
      <span>{{ valuation?.provider }}: </span>
      <span>{{ valuation?.description }}</span>
      <span>{{ valuation?.relativeValue }}</span>
      <span>{{ valuation?.rating }}</span>
      @if (recommendation) {
        <span>| </span>
        <span>{{ recommendation?.provider }}: </span>
        <span>{{ recommendation?.rating}}</span>
      }
    </div>
  </ng-template>

  <ng-template #analysisFooterRef>
    <div class="add-margin">
      @for (event of sigDevs; track event.date) {
        <div>
          <span class="sigDev-date">{{ event.date | date: 'MM/dd/yyyy' }}</span>
          <span class="sigDev-headline">{{ event.headline }}</span>
        </div>
      }
    </div>
  </ng-template>

  <container-card 
    [title]="selectedTicker.symbol" 
    [mainContentRef]="earningsChartRef"
    [subtitleContentRef]="analysisSubRef"
    [footerContentRef]="analysisFooterRef"
  />
}