<ng-template #videoWallRef>
    <div class="video-container">
        <div class="stream-wrapper">
            <iframe
                [width] = videoWidth
                [height] = videoHeight
                src="https://www.youtube.com/embed/OAHHA27td-A?si=UeOGCkXgqVUTPCa4"
                title="Yahoo Finance Live" 
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen
            >
            </iframe>
        </div>
        <div class="stream-wrapper">
            <iframe 
                [width] = videoWidth
                [height] = videoHeight
                src="https://www.youtube.com/embed/iEpJwprxDdk?si=N_BmA1xZ97Khpwhg"
                title="Bloomberg Television" 
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen
            >
            </iframe>
        </div>
    </div>
    <div class="video-container">
        <div class="stream-wrapper">
            <iframe 
                [width] = videoWidth
                [height] = videoHeight
                src="https://www.youtube.com/embed/vKOd3v8VTYo?si=81YOLrhVpLn029A2"
                title="Schwab Network" 
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen
            >
            </iframe>
        </div>
        <div class="stream-wrapper">
            <iframe
                [width] = videoWidth
                [height] = videoHeight 
                src="https://www.youtube.com/embed/-mvUkiILTqI?si=7CeYQVHLFSr5rAQJ"
                title="ABC News" 
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen
            >
            </iframe>
        </div>
    </div>
</ng-template>

<section class="add-margin">
    <container-card
    title="Live Streams"
    [mainContentRef]="videoWallRef"
/>
</section>