<div class="main-container">
  <h1 class="app-title">{{ appName }}</h1>

  <section class="update-entry">
    <h2>{{ date.toLocaleDateString() }} {{ version }}</h2>
    <ul class="added">
      <li>Added Toolbox page</li>
      <li>Added userful tooltip to price related charts</li>
    </ul>
    <ul class="removed">
      <li></li>
    </ul>
    <ul class="changed">
      <li>Moved advanced chart to Toolbox page</li>
      <li>Enhanced stock info sheet</li>
      <li>Enhanced routes setup</li>
      <li>Enhanced ticker name component</li>
      <li>Code clean up & bug fixes</li>
      <li>fixed events list</li>
      <li>moved portfolio charts</li>
    </ul>
  </section>

  <section class="update-entry">
    <h2>06-18-2023 v0.4.8</h2>
    <ul class="added">
      <li>Charts everywhere!</li>
    </ul>
    <ul class="changed">
      <li>Components redesign</li>
      <li>Code clean up & bug fixes</li>
    </ul>
  </section>

  <section class="update-entry">
    <h2>05-11-2023 v0.4.6</h2>
    <ul class="added">
      <li>New favicon</li>
      <li>ticker logos</li>
      <li>passive income slider</li>
      <li>advanced-chart events list</li>
      <li>sec filings</li>
    </ul>
    <ul class="changed">
      <li>upgrade to Angular 16</li>
      <li>enhancement to many components</li>
      <li>code clean up and bug fixes</li>
    </ul>
  </section>

  <section class="update-entry">
    <h2>05-01-2023 v0.4.5</h2>
    <ul class="added">
      <li>yahooquery backend</li>
      <li>new dividend table</li>
    </ul>
    <ul class="removed">
      <li>yfinance backend</li>
    </ul>
    <ul class="changed">
      <li>backend v4: switched data source from yfinance to yahooquery</li>
      <li>enchaned advanced-chart page layout</li>
      <li>code clean up & fixed bugs</li>
    </ul>
  </section>

  <section class="update-entry">
    <h2>05-07-2022</h2>
    <ul>
      <li>initial build</li>
    </ul>
  </section>
</div>
