mat-card-header {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    background-color: ghostwhite;
    border-radius: 1rem 1rem 0 0;
}

.container {
    border-radius: 1rem 1rem 0 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: max-content;
    background-color: white;
}

.container-title {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-subtitle {
    color: slategrey;
}

.container-footer {
    padding: 0.5rem 1rem 0.25rem 1rem;
}

.footer-divider,
.footer-divider.mat-divider-horizontal {
    border-top-color: slategrey;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
