<mat-card class="container">
    <mat-card-header>
        <mat-card-title class="container-title">
            {{ title | titlecase }}
            @if (titleContentRef) {
                <ng-container [ngTemplateOutlet]="titleContentRef"/>
            }
        </mat-card-title>
        @if (subContentRef) {
            <mat-card-subtitle>
                <ng-container [ngTemplateOutlet]="subContentRef" />
            </mat-card-subtitle>
        }
    </mat-card-header>

    @if (title || titleContentRef) {
        <mat-divider />
    }

    <mat-card-content>
        <ng-container [ngTemplateOutlet]="mainContentRef" />
    </mat-card-content>

    @if (footerContentRef) {
        <mat-card-footer class="container-footer">
            <mat-divider class="footer-divider" />
            <ng-container [ngTemplateOutlet]="footerContentRef" />
        </mat-card-footer>
    }
</mat-card>