mat-icon {
  padding: 10px;
}

.mat-mdc-card {
  max-width: max-content;
  border: 1px solid grey;
  border-radius: 1rem;
  border-left: 4px solid slateblue;
}

.mat-mdc-card-title {
  padding: 10px 20px 0px 10px;
}

.mat-mdc-card-subtitle {
  padding: 10px;
  color: steel;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  padding-right: 10px;
  color: steel;
}