<mat-card [ngStyle]="{'border': borderStyle, 'border-left': borderLeftStyle}">
    <div class="flex-between">
        @if (subtitle && !subtitleChip) {
            <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
        }
        @if (icon) {
            <mat-icon>{{ icon }}</mat-icon>
        }
        @if (subtitle && subtitleChip) {
            <stock-ticker-chip 
                [stock]="stock"
                [matTooltip]="tickerChipTooltip"
                [matTooltipPosition]="'above'"
            />
        }
    </div>
    <mat-divider />
    @if (value) {
        <mat-card-title [ngStyle]="getStyle()">
            @switch (valueType) {
                @case ('currency') {
                    <span>{{ value | currency }}</span>
                }
                @case ('percentage') {
                    <span>{{ value | percent: ".2" }}</span>
                }
                @case ('number') {
                    <span>{{ value }}</span>
                }
                @default {
                    <span>{{ value }}</span>
                }
            }
        </mat-card-title>
    }
    <mat-card-footer class="flex-between">
        @if (additionalInfo) {
            <mat-card-subtitle>{{ additionalInfo }}</mat-card-subtitle>
        }
        @if (date) {
            <div class="date">{{ date | date: 'fullDate' }}</div>
        }
    </mat-card-footer>
</mat-card>