mat-icon {
  margin: 1rem;
  padding: 0 !important;
  color: slategrey;
}

mat-divider {
  padding-bottom: 0 !important;
  border-top-color: ghostwhite;
  border-top-width: 0.125rem;
  width: 80%
}

stock-ticker-chip {
  margin: 1rem;
}

.mat-mdc-card {
  border-radius: 0;
}

.mat-mdc-card-title {
  padding: 0 1rem 0.5rem 1rem;
}

.mat-mdc-card-subtitle {
  padding: 1rem;
  color: slategrey;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  padding: 1rem;
  color: slategrey;
}
