<div class="main-container" [class.is-mobile]="mobileQuery.matches">
    @if (showTickerTape) {
        <mat-toolbar class="toolbar">
            <tv-tickers-widget [tape]="true" />
        </mat-toolbar>
    }

    <mat-sidenav-container 
        class="sidenav-container"
        [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    >
        <mat-sidenav
            #sideNav
            opened
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56"
        >
            <mat-nav-list>
                <div [matTooltip]="showFartPic ? 'Pooooo!' : 'Heeeeello!'" matTooltipPosition="right" (click)="togglePerson()">
                    @if (showFartPic) {
                        <img [src]="'../assets/fart.png'" alt="Oops!" width="40px" height="auto">
                    } @else {
                        <img [src]="'../assets/person.png'" alt="Hello!" width="40px" height="auto">
                    }
                </div>
                @for (link of navLinks; track $index) {
                    @if (!link.needData || (link?.needData && hasData)) {
                        <a (click)="activeLink = link" [routerLink]="link.route" class="side-nav-link">
                            <button 
                                mat-icon-button color="primary"
                                [matTooltip]="link.tooltip"
                                matTooltipPosition="right"
                            >
                                <mat-icon>{{ link.icon }}</mat-icon>
                            </button>
                        </a>
                    }
                }
                <mat-divider />
                <button mat-icon-button 
                    color="primary" 
                    class="action-button" 
                    (click)="toggleTickerTape()"
                    matTooltip="Ticker Tape"
                    matTooltipPosition="right"
                >
                    <mat-icon>{{ showTickerTape ? 'toggle_on' : 'toggle_off' }}</mat-icon>
                </button>
                <button mat-icon-button 
                    color="primary" 
                    class="action-button" 
                    (click)="refreshData()"
                    matTooltip="Refresh Data"
                    matTooltipPosition="right"
                >
                    <mat-icon>refresh</mat-icon>
                </button>
                <button mat-icon-button 
                    color="warn" 
                    class="action-button" 
                    (click)="clearData()"
                    matTooltip="Nuke Data"
                    matTooltipPosition="right"
                >
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-header />
            <router-outlet />
            <div class="footer-spacer"></div>
            <app-footer />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>