<div class="main-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="sideNav.toggle()">
            <mat-icon>{{ sideNav.opened ? 'menu_open' : 'menu' }}</mat-icon>
        </button>
        <tv-tickers-widget [tape]="true" />
    </mat-toolbar>

    <mat-sidenav-container 
        class="sidenav-container"
        [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    >
        <mat-sidenav
            #sideNav
            opened
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
        >
            <mat-nav-list>
                @for (link of navLinks; track $index) {
                    <a
                        (click)="activeLink = link"
                        [routerLink]="link.route"
                        class="side-nav-link"
                    >
                        <button mat-button color="primary">
                            <mat-icon>{{ link.icon }}</mat-icon>
                            <span>{{ link.label }}</span>
                        </button>
                    </a>
                }
                <mat-divider />
                <button mat-button color="warn" class="action-button" (click)="clearData()">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Nuke Data</span>
                </button>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-header />
            <router-outlet />
            <div class="footer-spacer"></div>
            <app-footer />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>