<ng-template #titleContentRef>
  <div class="add-flex">
      <mat-chip-listbox>
          <mat-chip-option selected (click)="selectChart(1)">S&P | DJI</mat-chip-option>
          <mat-chip-option (click)="selectChart(2)">Nasdaq | Russell</mat-chip-option>
          <mat-chip-option (click)="selectChart(3)">VIX</mat-chip-option>
          <mat-chip-option (click)="selectChart(4)">Cryptos</mat-chip-option>
          <mat-chip-option (click)="selectChart(5)">Forex</mat-chip-option>
      </mat-chip-listbox>
  </div>
</ng-template>

<ng-template #indexCharts>
  @if (selectedChart === 1) {
    <wallmine-chart [symbol]="'INDEX:GSPC'" [width]="'50%'" />
    <wallmine-chart [symbol]="'INDEX:DJI'" [width]="'50%'" />
  }
  @if (selectedChart === 2) {
    <wallmine-chart [symbol]="'INDEX:IXIC'" [width]="'50%'" />
    <wallmine-chart [symbol]="'INDEX:RUT'" [width]="'50%'" />
  }
  @if (selectedChart === 3) {
    <wallmine-chart [symbol]="'INDEX:VIX'" />
  }
  @if (selectedChart === 4) {
    <wallmine-chart [symbol]="'CRYPTO:BTC'" [width]="'33.33%'" />
    <wallmine-chart [symbol]="'CRYPTO:ETH'" [width]="'33.33%'" />
    <wallmine-chart [symbol]="'CRYPTO:DOGE'" [width]="'33.33%'" />
  }
  @if (selectedChart === 5) {
    <wallmine-chart [symbol]="'FOREX:USDCNY'" [width]="'33.33%'" />
    <wallmine-chart [symbol]="'FOREX:USDJPY'" [width]="'33.33%'" />
    <wallmine-chart [symbol]="'FOREX:USDEUR'" [width]="'33.33%'" />
  }
</ng-template>

<section class="add-margin">
  <container-card
    title="Market Charts"
    [mainContentRef]="indexCharts"
    [titleContentRef]="titleContentRef"
  />
</section>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Portfolio Events">
    <section class="add-margin grading-history-container">
      @for (item of gradingHistory; track item.epochGradeDate) {
        <info-card
          [value]="item.fromGrade + ' --> ' + item.toGrade"
          [subtitle]="item.symbol"
          [subtitleChip]="true"
          [additionalInfo]="item.firm"
          [date]="(item.epochGradeDate * 1000).toString()"
          [icon]="item.icon"
        />
      }
    </section>
  </mat-tab>

  <mat-tab label="Portfolio Price Change">
    <section class="add-margin">
      <stock-price-movement-charts [expandWidget]="true"/>
    </section>
  </mat-tab>
</mat-tab-group>