.main-section {
    display: flex;
}

.day-container {
    display: flex;
    flex-direction: column;
}

.event-date {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.event-date:first-of-type {
    margin-top: 0;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.corp-events-container,
.grading-events-container,
.calendar-events-container {
    margin-top: 0.5rem;
    min-width: min-content;
}

.corp-events-container {
    max-width: 30%;;
}

.calendar-events-container {
    min-width: max-content;
    max-width: 50%;
    flex-wrap: wrap;
}