<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>auto_graph</mat-icon>
      <span>Today's Price Change</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <stock-price-movement-charts />
</mat-expansion-panel>

<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>event</mat-icon>
      <span>Events</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section class="add-border main-section">
    <div class="events-container">
      <div class="title">Corporate</div>
      <div *ngFor="let article of corporateEvents" class="add-margin">
        <info-card 
          [icon]="'article'" 
          [value]="article.title"
          [subtitle]="article.symbol"
          [date]="article.displayTime"
          [fontSize]="'1rem'"
          [color]="'slategrey'"
          [accentColor]="'slategrey'"
        />
      </div>
    </div>

    <mat-divider vertical />

    <div class="grading-events-container">
      <div class="title">Gradings</div>
      <div *ngFor="let grading of gradingEvents" class="add-margin">
        <info-card
          [icon]="'thumbs_up_down'"
          [value]="grading.fromGrade + ' --> ' + grading.toGrade"
          [subtitle]="grading.symbol"
          [additionalInfo]="grading.firm"
          [date]="grading.date"
          [fontSize]="'1rem'"
          [color]="grading.color"
          [accentColor]="grading.color"
        />
      </div>
    </div>

    <mat-divider vertical />

    <div class="calendar-events-container">
      <div class="title">Calendar</div>
      <div class="add-margin day-container">
        <ng-container *ngFor="let calendarDay of mappedEvents; let i = index">
          <div class="event-date">{{ calendarDay[0] | date: 'MMMM d, EEEE' }}</div>
          <div class="event-container">
            <ng-container *ngFor="let event of calendarDay[1]">
              <info-card
                [icon]="event.icon" 
                [value]="event.name"
                [subtitle]="event.event"
                [additionalInfo]="event.detail"
                [fontSize]="'1rem'" 
                [color]="event.color"
                [accentColor]="event.color"
              />
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</mat-expansion-panel>