.main-section {
    display: flex;
}

.events-container {
    max-width: 33vw;
}

.day-container {
    display: flex;
    flex-direction: column;
}

.event-date {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}