.main-section {
    display: flex;
}

.day-container {
    display: flex;
    flex-direction: column;
}

.event-date {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.calendar-events-container {
    min-width: min-content;
}

.grading-events-container {
    min-width: max-content;
}

.calendar-events-container,
.grading-events-container,
.events-container {
    margin-top: 0.5rem;
}