<stock-price-movement-charts [expandQuotes]="false"/>

<ng-template #priceInsightsRef>
    <stock-ticker-buttons (selectedTicker)="updateSelectedStock($event)" />
    <mat-divider />
    @if (selectedSymbol) {
        <stock-price-insight [symbol]="selectedSymbol" />
    }
</ng-template>

<container-card 
    title="Price Insights"
    [mainContentRef]="priceInsightsRef"
/>

<ng-template #performanceChartsRef>
    @if (selectedPerformanceChart === 1) {
        <div class="add-flex">
            <div class="chart-container">
                <ngx-charts-bar-vertical
                    [scheme]="performanceChartColorScheme"
                    [results]="fiftyDayMAChartData"
                    [animations]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [legend]="false"
                    [rotateXAxisTicks]="true"
                    [yAxisLabel]="'Price vs 50 Day MA %'"
                    [yScaleMin]="fiftyDayMAChartData[0].value - 5"
                    [customColors]="[selectedSymbolColor]"
                >
                </ngx-charts-bar-vertical>
            </div> 
            <div class="chart-container">
                <ngx-charts-bar-vertical
                    [scheme]="performanceChartColorScheme"
                    [results]="twoHundredDayMAChartData"
                    [animations]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [legend]="false"
                    [rotateXAxisTicks]="true"
                    [yAxisLabel]="'Price vs 200 Day MA %'"
                    [yScaleMin]="twoHundredDayMAChartData[0].value - 5"
                    [customColors]="[selectedSymbolColor]"
                >
                </ngx-charts-bar-vertical>
            </div> 
        </div>
        <div class="add-flex">
            <div class="chart-container">
                <ngx-charts-bar-vertical
                    [scheme]="fiftyTwoWeekChartColorScheme"
                    [results]="fiftyTwoWeekLowChartData"
                    [animations]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [legend]="false"
                    [rotateXAxisTicks]="true"
                    [yAxisLabel]="'Price % above 52 week low'"
                    [customColors]="[selectedSymbolColor]"
                >
                </ngx-charts-bar-vertical>
            </div>
            <div class="chart-container">
                <ngx-charts-bar-vertical
                    [scheme]="fiftyTwoWeekChartColorScheme"
                    [results]="fiftyTwoWeekHighChartData"
                    [animations]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [legend]="false"
                    [rotateXAxisTicks]="true"
                    [yAxisLabel]="'Price % below 52 week high'"
                    [customColors]="[selectedSymbolColor]"
                >
                </ngx-charts-bar-vertical>
            </div>
        </div>
        <div class="add-flex">
            <div class="chart-container">
                <ngx-charts-bar-vertical
                    [scheme]="performanceChartColorScheme"
                    [results]="fiftyTwoWeekChangeChartData"
                    [animations]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [legend]="false"
                    [rotateXAxisTicks]="true"
                    [yAxisLabel]="'52 Week Change %'"
                    [activeEntries]="['S&P 500']"
                    [customColors]="[selectedSymbolColor, {name:'S&P 500', value: 'gold'}]"
                >
                </ngx-charts-bar-vertical>
            </div>
            <div class="chart-container">
                <ngx-charts-bar-vertical
                    [scheme]="targetPriceChartColorScheme"
                    [results]="discountChartData"
                    [animations]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [legend]="false"
                    [rotateXAxisTicks]="true"
                    [yScaleMin]="-5"
                    [yAxisLabel]="'Price % vs mean target price'"
                    [customColors]="[selectedSymbolColor]"
                >
                </ngx-charts-bar-vertical>
            </div> 
        </div>
    }
    @if (selectedPerformanceChart === 2) {
        <div class="chart-container">
            <ngx-charts-bar-vertical-2d
                [results]="etfPerformanceChartData"
                [animations]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [showDataLabel]="true"
                [rotateXAxisTicks]="true"
                [yAxisLabel]="'ETF Performance %'"
                [customColors]="[
                    {name: 'SCHD', value: 'deepskyblue'},
                    {name: 'VYM', value: 'maroon'}, 
                    {name: 'JEPI', value: 'dodgerblue'}
                ]"
            >
            </ngx-charts-bar-vertical-2d>
        </div>
    }
</ng-template>

<ng-template #performanceChartsTitleRef>
    <mat-chip-listbox>
        <mat-chip-option 
            [selected] = "selectedPerformanceChart === 1"
            (click)="changePerformanceChart(1)"
        >
            Stocks
        </mat-chip-option>
        <mat-chip-option 
            [selected] = "selectedPerformanceChart === 2"
            (click)="changePerformanceChart(2)"
        >
            ETFs
        </mat-chip-option>
    </mat-chip-listbox>
</ng-template>

<container-card 
    title="Performace Charts"
    [mainContentRef]="performanceChartsRef"
    [titleContentRef]="performanceChartsTitleRef"
/>
