<price-movement-charts />

<section class="add-border">
    <div class="add-flex">
        <div class="title">Price Insights</div>
        <button mat-button extended color="primary" class="refresh-button" (click)="refreshData()">
            <mat-icon>cloud_sync</mat-icon>
            <span>Refresh Technical Insights</span>
        </button>
    </div>
    <div class="logos-container">
        <button
            *ngFor="let stock of sortedStocks" 
            mat-button 
            class="ticker-button" 
            (click)="updateSelectedStock(stock.symbol)"
        >
            <img
                [src]="getLogoSource(stock)" 
                alt="Logo" 
                width="auto" 
                height="35"
            />
            <div>{{ stock.symbol }}</div>
        </button>
        <button
            *ngFor="let etf of sortedEtfs" 
            mat-button 
            class="ticker-button" 
            (click)="updateSelectedStock(etf.symbol)"
        >
            <img
                [src]="getLogoSource(etf)" 
                alt="Logo" 
                width="auto" 
                height="35" 
            />
            <div>{{ etf.symbol }}</div>
        </button>
    </div>

    <mat-divider />

    <div *ngIf="selectedSymbol && selectedStockTechnical" class="add-margin">
        <table mat-table [dataSource]="getTableDataSource()">
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Symbol</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.symbol }}</span>
                    <span [ngStyle]="{color: 'seagreen'}"> {{ element.currentPrice | currency }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="support">
                <th mat-header-cell *matHeaderCellDef>Support</th>
                <td mat-cell *matCellDef="let element">{{ selectedStockTechnical.instrumentInfo.keyTechnicals.support | currency }}</td>
            </ng-container>
            <ng-container matColumnDef="resistance">
                <th mat-header-cell *matHeaderCellDef>Resistance</th>
                <td mat-cell *matCellDef="let element">{{ selectedStockTechnical.instrumentInfo.keyTechnicals.resistance | currency }}</td>
            </ng-container>
            <ng-container matColumnDef="stopLoss">
                <th mat-header-cell *matHeaderCellDef>Stop Loss</th>
                <td mat-cell *matCellDef="let element">{{ selectedStockTechnical.instrumentInfo.keyTechnicals.stopLoss | currency }}</td>
            </ng-container>
            <ng-container matColumnDef="fiftyTwoWeekLow">
                <th mat-header-cell *matHeaderCellDef>52 Week Low</th>
                <td mat-cell *matCellDef="let element">{{ element.fiftyTwoWeekLow | currency }}</td>
            </ng-container>
            <ng-container matColumnDef="dayLow">
                <th mat-header-cell *matHeaderCellDef>Day Low</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.dayLow | currency }}</span>
                    <span [ngStyle]="{color: 'seagreen'}"> +{{(element.dayLow - element.fiftyTwoWeekLow).toFixed(2)}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="dayHigh">
                <th mat-header-cell *matHeaderCellDef>Day High</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.dayHigh | currency }}</span>
                    <span [ngStyle]="{color: 'seagreen'}"> +{{(element.dayHigh - element.dayLow).toFixed(2)}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="fiftyTwoWeekHigh">
                <th mat-header-cell *matHeaderCellDef>52 Week High</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.fiftyTwoWeekHigh | currency }}</span>
                    <span [ngStyle]="{color: 'seagreen'}"> +{{(element.fiftyTwoWeekHigh - element.dayHigh).toFixed(2)}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="targetLowPrice">
                <th mat-header-cell *matHeaderCellDef>Target Price Low</th>
                <td mat-cell *matCellDef="let element">
                    <span [ngStyle]="{color: 'navy'}">{{ (element.targetLowPrice - element.currentPrice) / element.currentPrice | percent: '.2' }}</span>
                    <span *ngIf="selectedStock.quoteType === 'EQUITY'" [ngStyle]="{color: 'seagreen'}"> ({{ element.targetLowPrice | currency }})</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="targetMedianPrice">
                <th mat-header-cell *matHeaderCellDef>Target Price Median</th>
                <td mat-cell *matCellDef="let element">
                    <span [ngStyle]="{color: 'navy'}">{{ (element.targetMedianPrice - element.currentPrice) / element.currentPrice | percent: '.2' }}</span>
                    <span *ngIf="selectedStock.quoteType === 'EQUITY'" [ngStyle]="{color: 'seagreen'}"> ( {{ element.targetMedianPrice | currency }} )</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="targetHighPrice">
                <th mat-header-cell *matHeaderCellDef>Target Price High</th>
                <td mat-cell *matCellDef="let element">
                    <span [ngStyle]="{color: 'navy'}">{{ (element.targetHighPrice - element.currentPrice) / element.currentPrice | percent: '.2' }}</span>
                    <span *ngIf="selectedStock.quoteType === 'EQUITY'" [ngStyle]="{color: 'seagreen'}"> ({{ element.targetHighPrice | currency }})</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="argusTarget">
                <th mat-header-cell *matHeaderCellDef>Argus Research Target</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ selectedStockTechnical?.recommendation?.targetPrice | currency }}</span>
                    <span *ngIf="selectedStock.quoteType === 'EQUITY'" [ngStyle]="{color: 'navy'}"> ({{ selectedStockTechnical?.recommendation?.rating }})</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="tradingCentral">
                <th mat-header-cell *matHeaderCellDef>Trading Central Valuation</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ selectedStockTechnical?.instrumentInfo?.valuation.description }}</span>
                    <span *ngIf="selectedStock.quoteType === 'EQUITY'" [ngStyle]="{color: 'navy'}"> ({{ selectedStockTechnical?.instrumentInfo?.valuation.discount }})</span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
        </table>
    </div>

    <mat-divider />

    <div *ngIf="selectedSymbol" class="add-margin">
        <!-- <ng-container *ngComponentOutlet="getWidget.widget; inputs:{symbol: selectedSymbol};" /> -->
        <h3>{{ selectedStock.symbol }} Day Range vs 52 Week Range</h3>
        <stock-day-price-range
            [min]="selectedStock.fiftyTwoWeekLow"
            [max]="selectedStock.fiftyTwoWeekHigh"
            [lowThumbValue]="selectedStock.dayLow"
            [highThumbValue]="selectedStock.dayHigh"
            [showThumbs]="false"
        />
    </div>
</section>

<section class="add-border">
    <div class="chart-header">
        <div class="title">
            <span>Performance</span>
        </div>
        <mat-chip-listbox [ngStyle]="{'padding-right': '1.25rem'}">
            <mat-chip-option selected (click)="changePerformanceChart(1)">Moving Averages</mat-chip-option>
            <mat-chip-option (click)="changePerformanceChart(2)">ETFs Performance</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <div class="add-flex">
        <div *ngIf="selectedPerformanceChart === 1" class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="performanceChartColorScheme"
                [results]="fiftyDayMAChartData"
                [animations]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [rotateXAxisTicks]="true"
                [yAxisLabel]="'Price vs 50 Day MA %'"
                [yScaleMin]="fiftyDayMAChartData[0].value - 5"
            >
            </ngx-charts-bar-vertical>

        </div> 
        <div *ngIf="selectedPerformanceChart === 1" class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="performanceChartColorScheme"
                [results]="twoHundredDayMAChartData"
                [animations]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [rotateXAxisTicks]="true"
                [yAxisLabel]="'Price vs 200 Day MA %'"
                [yScaleMin]="twoHundredDayMAChartData[0].value - 5"
            >
            </ngx-charts-bar-vertical>
        </div> 
        <div *ngIf="selectedPerformanceChart === 1" class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="performanceChartColorScheme"
                [results]="fiftyTwoWeekChangeChartData"
                [animations]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [rotateXAxisTicks]="true"
                [yAxisLabel]="'52 Week Change %'"
                [activeEntries]="['S&P 500']"
                [customColors]="[{name:'S&P 500', value: 'orangered'}]"
            >
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div *ngIf="selectedPerformanceChart === 2" class="chart-container">
        <ngx-charts-bar-vertical-2d
            [results]="etfPerformanceChartData"
            [animations]="true"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [legend]="false"
            [showDataLabel]="true"
            [rotateXAxisTicks]="true"
            [yAxisLabel]="'ETF Performance %'"
            [customColors]="[
                {name: 'SCHD', value: 'deepskyblue'},
                {name: 'VYM', value: 'maroon'}, 
                {name: 'JEPI', value: 'dodgerblue'}
            ]"
        >
        </ngx-charts-bar-vertical-2d>
    </div>
</section>

<section class="add-border">
    <div class="chart-header">
        <div class="title">
            <span>Price vs 52 Week & Analyst Target</span>
        </div>
        <!-- <mat-chip-listbox [ngStyle]="{padding-right: '1.5rem'}">
            <mat-chip-option selected (click)="changeVSCharts(1)">VS 52 Week High Low</mat-chip-option>
            <mat-chip-option (click)="changeVSCharts(2)">VS Target Price</mat-chip-option>
        </mat-chip-listbox> -->
    </div>
    <div class="add-flex">
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="fiftyTwoWeekChartColorScheme"
                [results]="fiftyTwoWeekLowChartData"
                [animations]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [rotateXAxisTicks]="true"
                [yAxisLabel]="'Price % above 52 week low'"
            >
            </ngx-charts-bar-vertical>
        </div> 
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="fiftyTwoWeekChartColorScheme"
                [results]="fiftyTwoWeekHighChartData"
                [animations]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [rotateXAxisTicks]="true"
                [yAxisLabel]="'Price % below 52 week high'"
            >
            </ngx-charts-bar-vertical>
        </div>
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="targetPriceChartColorScheme"
                [results]="discountChartData"
                [animations]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [rotateXAxisTicks]="true"
                [yScaleMin]="-5"
                [yAxisLabel]="'Price % vs mean target price'"
            >
            </ngx-charts-bar-vertical>
        </div> 
    </div>
</section>
