.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos-container {
    margin: 0 1rem 1rem 1rem;
}

.ticker-button {
    align-items: center;
    height: 5rem;
}

.stock-logo {
    border-radius: 50%;
    border: 1px solid slategrey;
}
