<section class="add-border">
    <div class="title">Price Insights</div>
    <div class="logos-container">
        <button
            *ngFor="let stock of sortedStocks" 
            mat-button 
            class="ticker-button" 
            (click)="updateWidget(stock.symbol)"
        >
            <img
                [src]="getLogoSource(stock)" 
                alt="Logo" 
                width="auto" 
                height="35"
            />
            <div>{{ stock.symbol }}</div>
        </button>
    </div>
    <div class="logos-container">
        <button
            *ngFor="let etf of sortedEtfs" 
            mat-button 
            class="ticker-button" 
            (click)="updateWidget(etf.symbol)"
        >
            <img
                [src]="getLogoSource(etf)" 
                alt="Logo" 
                width="auto" 
                height="35" 
            />
            <div>{{ etf.symbol }}</div>
        </button>
    </div>

    <mat-divider />

    <div *ngIf="selectedSymbol" class="add-margin">
        <table mat-table [dataSource]="getTableDataSource()">
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Symbol</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.symbol }}</span>
                    <span [ngStyle]="{color: 'seagreen'}"> {{ element.currentPrice | currency }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="fiftyTwoWeekLow">
                <th mat-header-cell *matHeaderCellDef>52 Week Low</th>
                <td mat-cell *matCellDef="let element">{{ element.fiftyTwoWeekLow | currency }}</td>
            </ng-container>
            <ng-container matColumnDef="dayLow">
                <th mat-header-cell *matHeaderCellDef>Day Low</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.dayLow | currency }}</span>
                    <span [ngStyle]="{color: 'seagreen'}"> +{{(element.dayLow - element.fiftyTwoWeekLow).toFixed(2)}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="dayHigh">
                <th mat-header-cell *matHeaderCellDef>Day High</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.dayHigh | currency }}</span>
                    <span [ngStyle]="{color: 'seagreen'}"> +{{(element.dayHigh - element.dayLow).toFixed(2)}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="fiftyTwoWeekHigh">
                <th mat-header-cell *matHeaderCellDef>52 Week High</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.fiftyTwoWeekHigh | currency }}</span>
                    <span [ngStyle]="{color: 'seagreen'}"> +{{(element.fiftyTwoWeekHigh - element.dayHigh).toFixed(2)}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="targetLowPrice">
                <th mat-header-cell *matHeaderCellDef>Target Price Low</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.targetLowPrice | currency }}</span>
                    <span [ngStyle]="{color: 'navy'}"> ({{(element.targetLowPrice - element.currentPrice) / element.currentPrice | percent: '.2' }})</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="targetMedianPrice">
                <th mat-header-cell *matHeaderCellDef>Target Price Median</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.targetMedianPrice | currency }}</span>
                    <span [ngStyle]="{color: 'navy'}"> ({{(element.targetMedianPrice - element.currentPrice) / element.currentPrice | percent: '.2' }})</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="targetHighPrice">
                <th mat-header-cell *matHeaderCellDef>Target Price High</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.targetHighPrice | currency }}</span>
                    <span [ngStyle]="{color: 'navy'}"> ({{(element.targetHighPrice - element.currentPrice) / element.currentPrice | percent: '.2' }})</span>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
        </table>
    </div>

    <mat-divider />

    <div *ngIf="selectedSymbol" class="add-margin">
        <!-- <ng-container *ngComponentOutlet="getWidget.widget; inputs:{symbol: selectedSymbol};" /> -->
        <span>{{ getStock().symbol }} Day Range vs 52 Week Range</span>
        <stock-day-price-range
            [min]="getStock().fiftyTwoWeekLow"
            [max]="getStock().fiftyTwoWeekHigh"
            [lowThumbValue]="getStock().dayLow"
            [highThumbValue]="getStock().dayHigh"
            [showThumbs]="false"
        />
    </div>

    <div *ngIf="selectedStockTechnical as insights">
        {{ insights.symbol }}
        {{ insights.instrumentInfo.keyTechnicals | json }}
    </div>
</section>

<price-movement-charts />

<section class="add-border">
    <div class="chart-header">
        <div class="title">
            <span>Performance</span>
        </div>
        <mat-chip-listbox [ngStyle]="{padding: '1.25rem'}">
            <mat-chip-option selected (click)="changePerformanceChart(1)">Moving Averages</mat-chip-option>
            <mat-chip-option (click)="changePerformanceChart(2)">ETFs Performance</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <div class="add-flex">
        <div *ngIf="selectedPerformanceChart === 1" class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="performanceChartColorScheme"
                [animations]="true"
                [results]="fiftyDayMAChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [yAxisLabel]="'Price vs 50 Day MA %'"
                [rotateXAxisTicks]="true"
                [yScaleMin]="fiftyDayMAChartData[0].value - 5"
            >
            </ngx-charts-bar-vertical>

        </div> 
        <div *ngIf="selectedPerformanceChart === 1" class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="'air'"
                [scheme]="performanceChartColorScheme"
                [animations]="true"
                [results]="twoHundredDayMAChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [yAxisLabel]="'Price vs 200 Day MA %'"
                [rotateXAxisTicks]="true"
                [yScaleMin]="twoHundredDayMAChartData[0].value - 5"
            >
            </ngx-charts-bar-vertical>
        </div> 
        <div *ngIf="selectedPerformanceChart === 1" class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="performanceChartColorScheme"
                [animations]="true"
                [results]="fiftyTwoWeekChangeChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [yAxisLabel]="'52 Week Change %'"
                [rotateXAxisTicks]="true"
                [activeEntries]="['S&P 500']"
                [customColors]="[{name:'S&P 500', value: 'gold'}]"
            >
            </ngx-charts-bar-vertical>
        </div>
    </div>

    <div *ngIf="selectedPerformanceChart === 2" class="chart-container">
        <ngx-charts-bar-vertical-2d
            [animations]="true"
            [results]="etfPerformanceChartData"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [legend]="false"
            [yAxisLabel]="'ETF Performance %'"
            [showDataLabel]="true"
            [rotateXAxisTicks]="true"
            [customColors]="[
                {name: 'SCHD', value: 'deepskyblue'},
                {name: 'VYM', value: 'maroon'}, 
                {name: 'JEPI', value: 'dodgerblue'}
            ]"
        >
        </ngx-charts-bar-vertical-2d>
    </div>
</section>

<section class="add-border">
    <div class="chart-header">
        <div class="title">
            <span>Price vs 52 Week & Analyst Target</span>
        </div>
        <!-- <mat-chip-listbox [ngStyle]="{padding: '20px'}">
            <mat-chip-option selected (click)="changeVSCharts(1)">VS 52 Week High Low</mat-chip-option>
            <mat-chip-option (click)="changeVSCharts(2)">VS Target Price</mat-chip-option>
        </mat-chip-listbox> -->
    </div>
    <div class="add-flex">
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="fiftyTwoWeekChartColorScheme"
                [animations]="true"
                [results]="fiftyTwoWeekLowChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [yAxisLabel]="'Price % above 52 week low'"
                [rotateXAxisTicks]="true"
            >
            </ngx-charts-bar-vertical>
        </div> 
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="fiftyTwoWeekChartColorScheme"
                [animations]="true"
                [results]="fiftyTwoWeekHighChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [yAxisLabel]="'Price % below 52 week high'"
                [rotateXAxisTicks]="true"
            >
            </ngx-charts-bar-vertical>
        </div>
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="targetPriceChartColorScheme"
                [animations]="true"
                [results]="discountChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [legend]="false"
                [yAxisLabel]="'Price % vs mean target price'"
                [rotateXAxisTicks]="true"
                [yScaleMin]="-5"
            >
            </ngx-charts-bar-vertical>
        </div> 
    </div>
</section>
