.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem 1rem 1rem;
}

.ticker-button {
    align-items: center;
    height: 5rem;
}

.refresh-button {
    margin-right: 1rem;
}