<ng-template #landingPageRef>
    <section>
        <mat-accordion class="accordion">
            <mat-expansion-panel [expanded]="step() === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>Load portfolio holdings data from a csv or txt file</mat-panel-title>
                </mat-expansion-panel-header>
    
                <div class="file-input">
                    <input type="file" accept="text/csv" (change)="handleOpenFile($event)" />
                </div>
                <!-- <mat-action-row>
                    <button mat-button (click)="nextStep()">Next</button>
                </mat-action-row> -->
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step() === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>Manually enter your portfolio holdings</mat-panel-title>
                </mat-expansion-panel-header>
                
                <portfolio-editor />
                <!-- <mat-action-row>
                    <button mat-button (click)="nextStep()">Next</button>
                </mat-action-row> -->
            </mat-expansion-panel>
    
            <mat-expansion-panel [expanded]="step() === 2" (opened)="setStep(2)" hideToggles>
                <mat-expansion-panel-header>
                    <mat-panel-title>Sign in to your saved portfolio </mat-panel-title>
                </mat-expansion-panel-header>
    
                <div class="login-buttons add-margin">
                    <button mat-button> 
                        <mat-icon>contact_mail</mat-icon>
                        <span>Sign In with Google</span>
                    </button>
                    <button mat-button> 
                        <span>Sign In with Email</span>
                        <mat-icon>alternate_email</mat-icon>
                    </button>
                </div>
                <!-- <mat-action-row>
                    <button mat-button (click)="prevStep()">Previous</button>
                    <button mat-button (click)="nextStep()">Next</button>
                </mat-action-row> -->
            </mat-expansion-panel>
        </mat-accordion>
    </section>
</ng-template>

<section class="add-margin">
    <container-card 
        title="Choose your portfolio"
        [mainContentRef]="landingPageRef"
    />
</section>