/* input[type="file"] {
    display: none;
} */

.file-input {
    cursor: pointer;
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    height: 2rem;
}

.subcontent {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
}
