<ng-template #fileInputRef>
    <div class="file-input">
        <input type="file" accept="text/csv" (change)="handleOpenFile($event)" />
    </div>
</ng-template>

<ng-template #subcontentRef>
    <div class="subcontent">
        <mat-icon>info</mat-icon>
        <span>{{ subText }}</span>
    </div>
</ng-template>

<section class="add-margin">
    <container-card
        title="Open Portfolio Data*"
        [mainContentRef]="fileInputRef"
        [subtitleContentRef]="subcontentRef"
    />
</section>
