/* input[type="file"] {
    display: none;
} */

.file-input-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.custom-file-upload {
    border: 1px solid slategrey;
    display: inline-block;
    padding: 2rem 1rem 2rem 1rem;
    cursor: pointer;
    width: max-content;
}

.custom-file-upload span {
    margin-right: 1rem;
    padding: 2rem 1rem 2rem 0rem;
}

.file-input {
    cursor: pointer;
}

.footer-text {
    float: right;
}