.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  background-color: ghostwhite;
  align-items: start;
}

.footer-row {
  display: flex;
  align-items: center;
  color: slategrey;
  padding-top: 0.5rem;
}

a {
  text-decoration: none;
  color: steelblue;
}

mat-chip-listbox {
  margin-left: 0.5rem;
}
