<!-- <mat-divider /> -->

<div class="footer-container">
  <div class="footer-row">
    <mat-icon>info</mat-icon>
    <span>Built with:</span>
    <mat-chip-listbox>  
      <mat-chip color="accent">
        <a href="https://angular.dev" target="_blank">Angular</a>
      </mat-chip>
      <mat-chip color="accent">
        <a href="https://python.org" target="_blank">Python</a>
      </mat-chip>
      <mat-chip color="accent">
        <a href="https://github.com/dpguthrie/yahooquery" target="_blank">Yahooquery</a>
      </mat-chip>
      <mat-chip color="accent">
        <a href="https://github.com/pallets/quart" target="_blank">Quart</a>
      </mat-chip>
    </mat-chip-listbox>
  </div>
  <div class="footer-row">
    <mat-icon>update</mat-icon>
    <span>Last updated: {{ date }}</span>
  </div>
</div>
