<div class="footer-container">
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Investopedia</span>
      <span matListItemLine><a href="https://www.investopedia.com" target="_blank">investopedia.com</a></span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Finviz</span>
      <span matListItemLine><a href="https://www.finviz.com" target="_blank">finviz.com</a></span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>SeekingAlpha</span>
      <span matListItemLine><a href="https://seekingalpha.com" target="_blank">seekingalpha.com</a></span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>The Motley fool</span>
      <span matListItemLine><a href="https://www.fool.com" target="_blank">fool.com</a></span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Yahoo Finance</span>
      <span matListItemLine><a href="https://finance.yahoo.com" target="_blank">finance.yahoo.com</a></span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Stock Analysis</span>
      <span matListItemLine><a href="https:///stockanalysis.com" target="_blank">stockanalysis.com</a></span>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Dataroma</span>
      <span matListItemLine><a href="https://www.dataroma.com" target="_blank">dataroma.com</a></span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Trading Economics</span>
      <span matListItemLine><a href="https://tradingeconomics.com" target="_blank">tradingeconomics.com</a></span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Dividend.com</span>
      <span matListItemLine><a href="https://www.dividend.com" target="_blank">dividend.com</a></span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Simply Safe Dividends</span>
      <span matListItemLine>Dividend Cuts List</span>
      <span matListItemLine><a href="https://www.simplysafedividends.com/dividend-safety-scores/track-record" target="_blank">simplysafediviends.com</a></span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Dividend Radar</span>
      <span matListItemLine>Dividend Growths List</span>
      <span matListItemLine><a href="https://www.portfolio-insight.com/dividend-radar" target="_blank">portfolio-insight.com</a></span>
    </mat-list-item>
  </mat-list>

  <div class="footer-row">
    <mat-icon>info</mat-icon>
    <span>Built with:</span>
    <mat-chip-listbox>  
      <mat-chip color="primary">
        <a href="https://angular.dev" target="_blank">Angular</a>
      </mat-chip>
      <mat-chip color="primary">
        <a href="https://python.org" target="_blank">Python</a>
      </mat-chip>
      <mat-chip color="primary">
        <a href="https://github.com/dpguthrie/yahooquery" target="_blank">Yahooquery</a>
      </mat-chip>
      <mat-chip color="primary">
        <a href="https://github.com/pallets/quart" target="_blank">Quart</a>
      </mat-chip>
    </mat-chip-listbox>
  </div>
</div>

<div class="haha">
  <span>"To be fearful when others are greedy and to be greedy 
    only when others are fearful." - <a [href]="buffetQuoteLink" target="_blank">Warren Buffet</a></span>
</div>