.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.position {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.links {
  margin-top: 10px;
}

.events, 
.filings {
  width: 50%;
}