@if (tickers) {
    <div class="logos-container">
        @for (ticker of tickers; track $index) {
            <button
                mat-button
                class="ticker-button" 
                (click)="emitSelectedTicker(ticker)"
            >
                <div>{{ ticker }}</div>
            </button>
        }
    </div>
} @else if (dividendPayersOnly) {
    <div class="logos-container">
        @for (stock of dividendPayers; track $index) {
            <button
                mat-button
                class="ticker-button" 
                (click)="emitSelectedTicker(stock.symbol)"
            >
                <div>{{ stock.symbol }}</div>
            </button>
        }
    </div>
} @else {
    <div class="logos-container">
        @for (stock of sortedStocks; track $index) {
            <button
                mat-button
                class="ticker-button" 
                (click)="emitSelectedTicker(stock.symbol)"
            >
                <div>{{ stock.symbol }}</div>
            </button>
        }
        @for (etf of sortedEtfs; track $index) {
            <button
                mat-button 
                class="ticker-button"
                (click)="emitSelectedTicker(etf.symbol)"
            >
                <div>{{ etf.symbol }}</div>
            </button>
        }
    </div>
}