<section *ngIf="priceChangeChartData.length > 0" class="add-border">
    <div class="add-flex">
        <div *ngIf="priceChangeChartData" class="title">
            <span>Today's Unrealized P/L: </span>
            <span [ngStyle]="{ color: getDayPriceChangeColor() }">
                {{ priceChange | currency }}
            </span>
        </div>    
        <mat-chip-listbox [ngStyle]="{padding: '20px'}">
            <mat-chip-option selected (click)="displayChart(1)">Today's Change</mat-chip-option>
            <mat-chip-option (click)="displayChart(2)">Beta</mat-chip-option>
        </mat-chip-listbox>
    </div>

    <div *ngIf="selectedChart === 1" class="charts-flex">
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [results]="priceChangeChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [rotateXAxisTicks]="true"
                [animations]="true" 
                [yAxisLabel]="'Price Change %'"
                [customColors]="getPriceChangeChartColor"
            >
                <ng-template #tooltipTemplate let-model="model">
                    <tv-mini-chart-widget [symbol]="model.name" [theme]="'dark'"/>
                    <mat-divider style="margin: none; border-top-color: slategrey"/>
                    <span>Pre/Post: {{ model.name }} </span>
                    <span>{{ model.value.toFixed(2) }}%</span>
                </ng-template>
            </ngx-charts-bar-vertical>
        </div>
        <div class="chart-container">
            <ngx-charts-bar-vertical-stacked
                [scheme]="priceRangeColorScheme"
                [results]="priceRangeChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [rotateXAxisTicks]="true"
                [animations]="true"
                [yAxisLabel]="'Market Day Price Range $'"
            />
        </div>
    </div>

    <div *ngIf="selectedChart === 2" class="charts-flex">
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="betaColorScheme"
                [schemeType]="scaleType.Linear"
                [results]="betaChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [rotateXAxisTicks]="true"
                [animations]="true" 
                [yAxisLabel]="'Beta'"
            />
        </div>
    </div>

    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="add-margin">thumbs_up_down</mat-icon>
            <span>Winners & Losers</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="showTickers">
            <span class="title">Winners</span>
            <tv-tickers-widget [symbols]="winners" [tape]="false"/>
            <span class="title">Losers</span>
            <tv-tickers-widget [symbols]="losers" [tape]="false"/>
        </div>
    </mat-expansion-panel>
</section>