<section *ngIf="priceChangeChartData.length > 0" class="add-border">
    <div class="add-flex">
        <div *ngIf="priceChangeChartData" class="title">
            <span>Today's P/L: </span>
            <span [ngStyle]="{ color: getDayPriceChangeColor() }">
                {{ priceChange | currency }}
            </span>
        </div>    
        <!-- <mat-chip-listbox [ngStyle]="{padding: '20px'}">
            <mat-chip-option selected (click)="displayChart(1)">Day Price Change</mat-chip-option>
            <mat-chip-option (click)="displayChart(2)">Day Price Range</mat-chip-option>
            <mat-chip-option (click)="displayChart(3)">Beta</mat-chip-option>
        </mat-chip-listbox> -->
    </div>

    <div class="charts-flex">
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [animations]="true" 
                [results]="priceChangeChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [yAxisLabel]="'Price Change %'"
                [rotateXAxisTicks]="true"
                [customColors]="getPriceChangeChartColor"
            >
                <ng-template #tooltipTemplate let-model="model">
                    <tv-mini-chart-widget [symbol]="model.name" [theme]="'dark'"/>
                    <mat-divider style="margin: none; border-top-color: slategrey"/>
                    <span>Pre/Post: {{ model.name }} </span>
                    <span>{{ model.value.toFixed(2) }}%</span>
                </ng-template>
            </ngx-charts-bar-vertical>
        </div>
        <div class="chart-container">
            <ngx-charts-bar-vertical-stacked
                [scheme]="priceRangeColorScheme"
                [animations]="true" 
                [results]="priceRangeChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [yAxisLabel]="'Market Day Price Range $'"
                [rotateXAxisTicks]="true"
            />
        </div>
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [scheme]="betaColorScheme"
                [schemeType]="scaleType.Linear"
                [animations]="true" 
                [results]="betaChartData"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [yAxisLabel]="'Beta'"
                [rotateXAxisTicks]="true"
            />
        </div>
    </div>

    <div *ngIf="showTickers" class="add-border winners-losers">
        <span class="title">Winners</span>
        <tv-tickers-widget [symbols]="winners" [tape]="false"/>
        <span class="title">Losers</span>
        <tv-tickers-widget [symbols]="losers" [tape]="false"/>
    </div>
</section>