<ng-container *ngFor="let calendarDay of m0CalendarEvents; let i = index">
  <div *ngIf="calendarDay.length > 0" class="day-container">
    <div class="event-date">{{ calendarDay[0].date | date: 'MMMM d, EEEE' }}</div>
    <div class="event-container">
      <ng-container *ngFor="let event of calendarDay">
        <info-card [icon]="event.icon" [value]="event.name" [subtitle]="event.symbol" [additionalInfo]="event.event"
          [fontSize]="'1rem'" [color]="event.color" />
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngFor="let calendarDay of m1CalendarEvents; let i = index">
  <div *ngIf="calendarDay.length > 0" class="day-container">
    <div class="event-date">{{ calendarDay[0].date | date: 'MMMM d, EEEE' }}</div>
    <div class="event-container">
      <ng-container *ngFor="let event of calendarDay">
        <info-card [icon]="event.icon" [value]="event.name" [subtitle]="event.symbol" [additionalInfo]="event.event"
          [fontSize]="'1rem'" [color]="event.color" />
      </ng-container>
    </div>
  </div>
</ng-container>