.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem;
  overflow: hidden;
  height: auto;
  transition: height 1s;
  -webkit-transition: height 1s;
  .expand-section {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.container:hover {
  height: max-content;
  .expand-section {
    width: max-content;
    height: max-content;
    visibility: visible;
  }
}

.symbol-container {
  padding-left: 0.5rem;
  align-items: center;
}

.stock-logo {
  border-radius: 50%;
  border: 1px solid ghostwhite;
}

.stock-symbol {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.stock-price,
.price-change {
  margin-left: 0.5rem;
}

.stock-price {
  color: teal;
}

.stock-name {
  float: left;
  color: slategrey;
}

.mat-mdc-card {
  box-shadow: none;
}

.expand-section {
  margin-left: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid slategrey;
}