<mat-card 
  class="container"
  (click)="openInfoSheet()"
  [ngStyle]="{'border-left': borderLeftStyle}"
>
  <div class="symbol-container">
    <div class="stock-symbol">
      <span><b>{{ stock?.symbol }}</b></span>
      <span class="stock-price" [ngStyle]="{'color': priceColor}">{{ currentPrice | currency }}</span>
      <div [ngStyle]="{'color': priceColor}">
        ({{ changePercent | percent: '.2' }})
      </div>
    </div>
    <mat-card-subtitle class="stock-name">{{ stock?.shortName }}</mat-card-subtitle>
  </div>
</mat-card>
