<div>
    <span class="light-color">Day Range vs 52w Range</span>
    <div class="line-container">
        <div [matTooltip]="tooltip" matTooltipPosition="above" class="line" #line></div>
        <div class="dot" #startThumb></div>
        <div class="dot" #endThumb></div>
        <div class="target-price-low-dot" #targetPriceLowThumb>
            <span class="thumb-text">Target Price Low: ${{ stock.targetLowPrice }}</span>
        </div>
    </div>
    <div class="label-wrapper">
        <span>${{ min }}</span>
        <span>${{ max }}</span>
    </div>
</div>