<div class="rec-trends">
    <ngx-charts-bar-vertical-stacked
        [view]="[400, height || 200]"
        [scheme]="recommendationTrendChartColorScheme"
        [results]="recommendationTrendChartData"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [rotateXAxisTicks]="true"
        [animations]="true"
        [legend]="true"
        [showDataLabel]="true"
        [legendTitle]="''"
        [yAxisLabel]="'Analysts Opinions'"
    />
</div>