/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Fira Code";
}

mat-divider {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    color: ghostwhite;
}

mat-icon {
    padding-right: 0.5rem;
}

mat-chip {
    background-color: ghostwhite !important;
}

mat-chip span {
    font-size: 0.75rem;
}

table {
    margin-top: 1rem;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 1.5rem;
}

.mat-mdc-dialog-content {
    max-height: 95vh !important;
}

.mat-mdc-card-header-text {
    width: 100%;
}

.bottom-sheet-panel {
    align-self: normal;
}

.expanded-stock-detail {
    border: 1px solid ghostwhite;
    border-radius: 0.5rem;
}

.title {
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    align-items: center;
}

.title span {
    margin-top: 0.5rem;
    padding-right: 0.5rem;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    height: 25rem;
    width: 100%;
    min-width: 33%;
}

.add-border {
    border: 1px solid slategrey;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.add-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-margin {
    margin: 1rem;
}

.mat-expansion-panel-header {
    height: auto !important;
    padding: 0.5rem 0.75rem !important;
}

.mat-mdc-row:hover .mat-mdc-cell {
    font-weight: bold;
    border-top: 1px solid steelblue;
    border-bottom: 1px solid steelblue;
    background-color: ghostwhite;
}