/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Fira Code", monospace;
}

mat-divider {
    margin: 1rem !important;
}

mat-icon {
    padding-right: 0.5rem;
}

mat-chip {
    border-radius: 0.5rem;
}

mat-chip span {
    font-size: 0.75rem;
}

mat-expansion-panel {
    border-top: 1px solid slategrey;
    border-radius: 0.5rem;
}

table {
    margin-top: 1.5rem;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 1.5rem;
}

.mat-mdc-dialog-content {
    max-height: 90vh !important;
}

.bottom-sheet-panel {
    align-self: normal;
}

.title {
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    align-items: center;
}

.title span {
    margin-top: 0.5rem;
    padding-right: 0.5rem;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    height: 25rem;
    width: 100%;
    min-width: 33%;
    max-width: 100%;
}

.add-border {
    border: 1px solid slategrey;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.add-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-margin {
    margin: 1rem;
}