table {
  margin-top: 0px;
}

mat-slide-toggle {
  margin-right: 1.5rem;
}

mat-form-field {
  height: min-content;
}

tr.expanded-stock-row {
  height: 0;
}

.table-actions {
  display: flex;
  justify-content: right;
  align-items: baseline;
  /* margin-top: 1.5rem; */
}

.table-col-0 {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0px;
  padding: 0px;
}

.single-quote-widget {
  z-index: 1000;
  height: 5.5rem;
  margin-right: 1.25rem;
}

td.mat-mdc-cell:first-of-type td.mat-mdc-footer-cell:first-of-type {
  padding-left: 0px;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {
  padding: 0;
}

.no-match {
  display: flex;
  align-items: center;
  width: max-content;
}

.mat-mdc-row:hover .mat-mdc-cell {
  font-weight: bold;
  border-top: 1px solid slategrey;
  border-bottom: 1px solid slategrey;
}

.row-clicked {
  font-weight: bold;
  background-color: ghostwhite;
}

.subcontent-container {
  display: flex;
  justify-content: space-between;
}

.subcontent-info {
  display: flex;
  align-items: center;
}

.mat-mdc-form-field {
  flex-direction: row;
}