.charts {
  margin-top: 50px;
}

.table-actions {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
}

mat-slide-toggle {
  margin-right: 20px;
}

tr.expanded-stock-row {
  height: 0;
}

.table-col-0 {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0px;
  padding: 0px;
}

.single-quote-widget {
  z-index: 1000;
  height: 90px;
  margin-right: 20px;
}

td.mat-mdc-cell:first-of-type td.mat-mdc-footer-cell:first-of-type {
  padding-left: 0px;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {
  padding: 0;
}

table {
  margin-top: 0px;
}