@if (infoCards) {
  <section class="dividend-cards-container">
    @for (card of infoCards; track card.value) {
      <info-card
        [value]="card.value"
        [valueType]="card.valueType"
        [subtitle]="card.subtitle"
        [color]="card.color"
      />
    }
  </section>
}

<ng-template #dividendHistoryRef>
  <div class="add-flex" [style.flex-direction]="'column'">
    <stock-ticker-buttons (selectedTicker)="onSelect($event)" />
    <div class="chart-container dividend-chart">
      <ngx-charts-area-chart
        [scheme]="dividendChartColorScheme"
        [results]="dividendLineChartData"
        [xAxisLabel]="selectedSymbolLabel"
        [yAxisLabel]="'Dividend Rate'"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [autoScale]="true"
        [animations]="true"
        [gradient]="true"
        [yScaleMin]="0"
      />
    </div>
  </div>
</ng-template>

<container-card 
  title="Dividend History"
  [mainContentRef]="dividendHistoryRef"
/>

<ng-template #dividendTableRef>
  <table
    mat-table
    matSort
    matSortActive="yieldOnCost"
    matSortDirection="desc"
    [dataSource]="dataSource"
  >
    @for (column of columnDefs; track column; let cidx = $index) {
      <div [matColumnDef]="column">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ headers[cidx] }}
        </th>
        <td mat-cell *matCellDef="let stock">
          @if (cidx === 0) {
            <div class="table-col-0">
              <stock-name-card [stock]="stock" />
            </div>
          } @else {
            <span (click)="updateChart(stock.symbol)">
              {{ cells[cidx](stock) }}
            </span>
          }
        </td>
      </div>
    }
    <tr mat-header-row *matHeaderRowDef="columnDefs; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnDefs"></tr>
  </table>
</ng-template>

<container-card
  title="Dividend Details"
  [mainContentRef]="dividendTableRef"
/>