@if (infoCards) {
  <section class="dividend-cards-container">
    @for (card of infoCards; track card.value) {
      <info-card
        [icon]="card.icon"
        [value]="card.value"
        [valueType]="card.valueType"
        [subtitle]="card.subtitle"
        [color]="card.color"
      />
    }
  </section>
}

<ng-template #dividendIncomeProjectionRef>
  <div class="chart-flex">
    <div class="chart-container dividend-income">
      <ngx-charts-bar-vertical-stacked
        [scheme]="'natural'"
        [results]="dividendIncomeChartData"
        [animations]="true"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Scheduled Dividend Payments $'"
        [noBarWhenZero]="true"
        [showDataLabel]="true"
      />
    </div>
    <div class="chart-container dividend-pie">
      <ngx-charts-pie-chart
        [scheme]="'picnic'"
        [results]="pieChartData"
        [animations]="true"
        [explodeSlices]="true"
        [labels]="true"
        [legend]="true"
        [legendTitle]="'Tickers'"
        [arcWidth]="0.75"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      />
    </div>
    <!-- <div class="chart-container projected-dividend-income">
      <ngx-charts-bar-horizontal-stacked
        [scheme]="'natural'"
        [results]="dividendProjectionChartData"
        [animations]="true"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Estimated Monthly Dividend Income $'"
        [noBarWhenZero]="true"
        [showDataLabel]="true"
      />
    </div> -->
  </div>
</ng-template>

<container-card 
  title="Dividend Income Projection"
  [mainContentRef]="dividendIncomeProjectionRef"
/>

<!-- <ng-template *ngIf="browser === 'Safari'" #dividendHistoryRef>
  <div class="safari-charts-container">
    <echarts-vertical-bar-chart [options]="echartOptions" />
    <div class="chart-container dividend-pie">
      <ngx-charts-pie-chart
        [scheme]="'picnic'"
        [results]="pieChartData"
        [animations]="true"
        [explodeSlices]="true"
        [labels]="true"
        [legend]="true"
        [arcWidth]="0.75"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      />
    </div>
  </div>
</ng-template> -->

<ng-template #dividendHistoryRef>
  <div class="add-flex">
    <div class="chart-container dividend-chart">
      <ngx-charts-area-chart
        [scheme]="dividendChartColorScheme"
        [results]="dividendLineChartData"
        [xAxisLabel]="selectedSymbolLabel"
        [yAxisLabel]="'Dividend Rate'"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [autoScale]="true"
        [animations]="true"
        [gradient]="true"
        [yScaleMin]="0"
      />
    </div>
    <!-- <div class="chart-container dividend-pie">
      <ngx-charts-pie-chart
        [scheme]="'picnic'"
        [results]="pieChartData"
        [animations]="true"
        [explodeSlices]="true"
        [labels]="true"
        [legend]="true"
        [legendTitle]="'Tickers'"
        [arcWidth]="0.75"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      />
    </div> -->
  </div>
</ng-template>

<container-card 
  title="Dividend History"
  [mainContentRef]="dividendHistoryRef"
/>

<ng-template #dividendTableRef>
  <table
    mat-table
    matSort
    matSortActive="yieldOnCost"
    matSortDirection="desc"
    [dataSource]="dataSource"
  >
    @for (column of columnDefs; track column; let cidx = $index) {
      <div [matColumnDef]="column">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ headers[cidx] }}
        </th>
        <td mat-cell *matCellDef="let stock">
          @if (cidx === 0) {
            <div class="table-col-0">
              <stock-name-card [stock]="stock" />
            </div>
          } @else {
            <span (click)="updateChart(stock.symbol)">
              {{ cells[cidx](stock) }}
            </span>
          }
        </td>
      </div>
    }
    <tr mat-header-row *matHeaderRowDef="columnDefs; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnDefs"></tr>
  </table>
</ng-template>

<container-card
  title="Dividend Details"
  [mainContentRef]="dividendTableRef"
/>