.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.symbol-container {
  padding-left: 10px;
  align-items: center;
}

.stock-logo {
  border-radius: 50%;
  border: 1px solid slategrey;
}

.stock-symbol {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.stock-price,
.price-change {
  margin-left: 5px;
}

.stock-price {
  color: seagreen;
}

.stock-name {
  float: left;
  color: slategrey;
}